//AlergiaNormalBolditalic font

@font-face {
  font-family: 'AlergiaNormalBoldItalic';
  src: url('../fonts/AlergiaNormalBoldItalic/BORUTTA GROUP - Alergia Normal Bold Italic.eot');
  src: local('☺'), url('../fonts/AlergiaNormalBoldItalic/BORUTTA GROUP - Alergia Normal Bold Italic.woff') format('woff'),
  url('../fonts/AlergiaNormalBoldItalic/BORUTTA GROUP - Alergia Normal Bold Italic.ttf') format('truetype'),
  url('../fonts/AlergiaNormalBoldItalic/BORUTTA GROUP - Alergia Normal Bold Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

//AlergiaNormalBold font

@font-face {
  font-family: 'AlergiaNormalBold';
  src: url('../fonts/AlergiaNormalBold/BORUTTA GROUP - Alergia Normal Bold.eot');
  src: local('☺'), url('../fonts/AlergiaNormalBold/BORUTTA GROUP - Alergia Normal Bold.woff') format('woff'),
  url('../fonts/AlergiaNormalBold/BORUTTA GROUP - Alergia Normal Bold.ttf') format('truetype'),
  url('../fonts/AlergiaNormalBold/BORUTTA GROUP - Alergia Normal Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


//AlergiaNormalItalic font

@font-face {
  font-family: 'AlergiaNormalItalic';
  src: url('../fonts/AlergiaNormalItalic/BORUTTA GROUP - Alergia Normal Italic.eot');
  src: local('☺'), url('../fonts/AlergiaNormalItalic/BORUTTA GROUP - Alergia Normal Italic.woff') format('woff'),
  url('../fonts/AlergiaNormalItalic/BORUTTA GROUP - Alergia Normal Italic.ttf') format('truetype'),
  url('../fonts/AlergiaNormalItalic/BORUTTA GROUP - Alergia Normal Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


//AlergiaNormalRegular font

@font-face {
  font-family: 'AlergiaNormalRegular';
  src: url('../fonts/AlergiaNormalRegular/BORUTTA GROUP - AlergiaNormal-Regular.eot');
  src: local('☺'), url('../fonts/AlergiaNormalRegular/BORUTTA GROUP - AlergiaNormal-Regular.woff') format('woff'),
  url('../fonts/AlergiaNormalRegular/BORUTTA GROUP - AlergiaNormal-Regular.ttf') format('truetype'),
  url('../fonts/AlergiaNormalRegular/BORUTTA GROUP - AlergiaNormal-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face{
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/slick.eot');
  src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'),
  url('../fonts/slick.woff') format('woff'),
  url('../fonts/slick.ttf') format('truetype'),
  url('../fonts/slick.svg#slick') format('svg');
}