//AlergiaNormal-Bolditalic font

@font-face {
  font-family: 'alergia_normalbold_italic';
  src: url('../fonts/AlergiaNormal-Bolditalic/borutta_group_-_alergia_normal_bold_italic-webfont.eot');
  src: url('../fonts/AlergiaNormal-Bolditalic/borutta_group_-_alergia_normal_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AlergiaNormal-Bolditalic/borutta_group_-_alergia_normal_bold_italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

//AlergiaNormal-Bold font

@font-face {
  font-family: 'alergia_normalbold';
  src: url('../fonts/AlergiaNormal-Bold/borutta_group_-_alergia_normal_bold-webfont.eot');
  src: url('../fonts/AlergiaNormal-Bold/borutta_group_-_alergia_normal_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AlergiaNormal-Bold/borutta_group_-_alergia_normal_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}


//AlergiaNormal-Italic font

@font-face {
  font-family: 'alergia_normalitalic';
  src: url('../fonts/AlergiaNormal-Italic/borutta_group_-_alergia_normal_italic-webfont.eot');
  src: url('../fonts/AlergiaNormal-Italic/borutta_group_-_alergia_normal_italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AlergiaNormal-Italic/borutta_group_-_alergia_normal_italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}


//AlergiaNormal-Regular font

@font-face {
  font-family: 'alergia_normalregular';
  src: url('../fonts/AlergiaNormal-Regular/borutta_group_-_alergianormal-regular-webfont.eot');
  src: url('../fonts/AlergiaNormal-Regular/borutta_group_-_alergianormal-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AlergiaNormal-Regular/borutta_group_-_alergianormal-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}