
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .slider .img-responsive, .slider .thumbnail > img, .slider .thumbnail a > img, .slider .carousel-inner > .item > img, .slider .carousel-inner > .item > a > img {
	height: 768px;
	position: relative;
  }
  .slider .carousel-caption {
	top: 11%;
  }
  .header .navbar-default .navbar-nav > li > a,
  .header-inner .navbar-default .navbar-nav > li > a{
	font-size: 13px;
	margin: 0 15px 0
  }
  .header .navbar-default .navbar-form.navbar-right .registr,
  .header-inner .navbar-default .navbar-form.navbar-right .registr {
	font-size: 12px;
	line-height: 24px;
	width: 130px;
	height: 28px;
  }
  .header .navbar-default .navbar-form.navbar-right .login,
  .header-inner .navbar-default .navbar-form.navbar-right .login {
	font-size: 12px;
	line-height: 24px;
	width: 60px;
	height: 28px;
  }
  .header .navbar-brand {
	margin-right: 0;
  }
  .slider .carousel-caption .title {
	font-size: 20px;
	margin-bottom: 30px;
  }
  .slider .carousel-caption .description {
	font-size: 14px;
	line-height: 20px;
  }
  .main-2{
	padding: 25vh 0 10vh;
  }
  .main-2 .block-text .step-for-one .title {
	font-size: 26px;
	line-height: 30px;
	margin-bottom: 15px;
  }
  .main-2 .block-text .step-for-one .description {
	font-size: 15px;
	width: 50vw;
  }
  .main-2 .block-step .slider-nav .step {
	font-size: 16px;
  }
  .main-2 .scroll-down {
	bottom: 3%;
  }
  .main-2 .scroll-up {
	top: 13%;
  }
  .main-2 .block-text .step-for-two .title {
	font-size: 20px;
	margin-bottom: 10px;
  }
  .main-2 .block-text .step-for-two .description {
	margin-bottom: 30px;
	font-size: 14px;
  }
  .main-2 .slick-prev {
	left: 0;
	z-index: 1000;
  }
  .main-2 .slick-next {
	right: 0;
  }
  .main-2 .block-text .step-for-two figure {
	margin: 0 -10px;
  }
  .main-2 .block-text .step-for-two figure figcaption .heading {
	font-size: 16px;
	margin-bottom: 3px;
  }
  .main-2 .block-text .step-for-two figure figcaption span {
	font-size: 13px;
  }
  .main-2 .block-text .step-for-three .task-mini figure figcaption .heading {
	font-size: 14px;
  }
  .main-2 .block-text .step-for-three .task-mini figure figcaption span {
	font-size: 12px;
  }
  .main-2 .block-text .step-for-three .task-mini figure figcaption {
	max-width: 180px;
  }
  .main-2 .block-text .step-for-three .task-mini .select {
	width: 160px;
  }
  .main-2 .block-text .step-for-three .task-mini figure {
	margin: 5px auto 40px;
  }
  .main-2 .block-text .step-for-three .title {
	font-size: 18px;
	line-height: 25px;
  }
  .main-2 .block-text .step-for-three .text {
	font-size: 14px;
	width: 50vw;
	margin: 0 auto 30px;
  }
  .main-3 .block-text .step-for-one .slide-information .heading {
	font-size: 18px;
  }
  .main-3 .block-text .step-for-two .rate-selection .rate {
	max-width: 234px;
	padding: 10px 5px 10px;
  }
  .main-3 .block-text .step-for-one .slide-information .description {
	font-size: 14px;
	line-height: 18px;
  }
  .main-3 .block-text .step-for-one .list li {
	font-size: 14px;
	line-height: 18px;
  }
  .main-3 .slick-prev {
	left: 10px;
	z-index: 1000;
  }
  .main-3 .slick-next {
	right: 0;
  }
  .main-3 .block-text .step-for-one .slide-information {
	padding-left: 30px;
  }
  .main-3 .block-text .step-for-three .user-data .block-1 span,
  .main-3 .block-text .step-for-three .user-data .block-2 span{
	font-size: 24px;
	line-height: 30px;
	margin-right: 40px;
	margin-bottom: 25px;
  }
  .main-4 .scroll-up {
	top: 20%;
  }
  form.feadback {
	padding-left: 40px;
  }
  .feadback input {
	width: 225px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .header .nav li a,
  .header-inner .nav li a{
	margin: 0 10px 0;
  }
  .header .navbar-default .navbar-nav > li > a,
  .header-inner .navbar-default .navbar-nav > li > a{
	font-size: 14px;
  }
  .header .navbar-default .navbar-form.navbar-right .registr,
  .header-inner .navbar-default .navbar-form.navbar-right .registr{
	font-size: 13px;
	line-height: 25px;
	width: 140px;
	height: 28px;
  }
  .header .navbar-default .navbar-form.navbar-right .login,
  .header-inner .navbar-default .navbar-form.navbar-right .login{
	font-size: 13px;
	line-height: 25px;
	width: 70px;
	height: 28px;
  }
  .slider .img-responsive, .slider .thumbnail > img, .slider .thumbnail a > img, .slider .carousel-inner > .item > img, .slider .carousel-inner > .item > a > img {
	height: 800px;
	position: relative;
  }
  .slider .carousel-caption .title {
	font-size: 22px;
  }
  .slider .carousel-caption .description {
	font-size: 15px;
	padding: 0;
  }
  .main-2 .block-text .step-for-one .title {
	font-size: 30px;
	line-height: 34px;
	margin-bottom: 15px;
  }
  .main-2 .block-text .step-for-one .description {
	font-size: 16px;
	width: 41vw;
  }
  .main-2 .block-step .slider-nav .step {
	font-size: 16px;
  }
  .main-2 .scroll-down {
	bottom: 3%;
  }
  .main-2 .scroll-up {
	top: 13%;
  }
  .main-2 .block-text .step-for-two .title {
	font-size: 22px;
	margin-bottom: 20px;
  }
  .main-2 .block-text .step-for-two .description {
	margin-bottom: 40px;
	font-size: 16px;
  }
  .main-2 .block-text .step-for-two figure figcaption .heading {
	font-size: 18px;
	margin-bottom: 3px;
  }
  .main-2 .block-text .step-for-two figure figcaption span {
	font-size: 14px;
  }
  .main-2 .block-text .step-for-three .task-mini figure figcaption .heading {
	font-size: 14px;
  }
  .main-2 .block-text .step-for-three .task-mini figure figcaption span {
	font-size: 12px;
  }
  .main-2 .block-text .step-for-three .task-mini figure figcaption {
	max-width: 200px;
  }
  .main-2 .block-text .step-for-three .task-mini .select {
	width: 200px;
  }
  .main-2 .block-text .step-for-three .task-mini figure {
	margin: 5px auto 40px;
  }
  .main-2 .block-text .step-for-three .task-mini {
	margin-bottom: 0;
  }
  .main-2 .block-text .step-for-three .title {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 5px;
  }
  .main-2 .block-text .step-for-three .text {
	font-size: 14px;
	width: 45vw;
	margin: 0 auto 20px;
  }
  .main-3 .block-text .step-for-one .slide-information .heading {
	font-size: 20px;
  }
  .main-3 .slick-prev {
	left: 0;
	z-index: 1000;
  }
  .main-3 .slick-next {
	right: 0;
  }
  .main-3 .block-text .step-for-one .slide-information {
	margin-bottom: 0;
	margin-top: 20px;
  }
  .main-3 .block-text .step-for-two .rate-selection .rate {
	max-width: 257px;
	margin: 8px 10px 8px;
  }
  .main-3 .block-text .step-for-two .rate-selection .select {
	width: 257px;
  }
  .main-4 .scroll-up {
	top: 20%;
  }
  .main-4 .title {
	font-size: 20px;
  }
  .main-4 .description {
	font-size: 14px;
	padding: 0 111px;
  }
  .feadback input {
	width: 284px;
  }
}

@media only screen and (min-width: 1380px) and (max-width: 1440px) {
  .header .nav li a,
  .header-inner .nav li a{
	margin: 0 25px 0;
  }
  .header .navbar-default .navbar-nav > li > a,
  .header-inner .navbar-default .navbar-nav > li > a{
	font-size: 17px;
  }
  .header .navbar-default .navbar-form.navbar-right .registr,
  .header-inner .navbar-default .navbar-form.navbar-right .registr {
	font-size: 17px;
	line-height: 30px;
	width: 160px;
	height: 35px;
  }
  .header .navbar-default .navbar-form.navbar-right .login,
  .header-inner .navbar-default .navbar-form.navbar-right .login{
	font-size: 17px;
	line-height: 30px;
	width: 90px;
	height: 35px;
  }
  .slider .img-responsive, .slider .thumbnail > img, .slider .thumbnail a > img, .slider .carousel-inner > .item > img, .slider .carousel-inner > .item > a > img {
	height: 900px;
	position: relative;
  }
  .slider .carousel-caption {
	top: 5%;
  }
  .slider .carousel-caption .title {
	font-size: 30px;
  }
  .slider .carousel-caption .description {
	font-size: 18px;
	padding: 0 40px;
  }

  .main-2 .block-text .step-for-one .title {
	font-size: 33px;
	line-height: 35px;
	margin-bottom: 25px;
  }
  .main-2 .block-text .step-for-one .description {
	font-size: 18px;
  }
  .main-2 .block-step .slider-nav .step {
	font-size: 18px;
  }
  .main-2 .scroll-down {
	bottom: 3%;
  }
  .main-2 .scroll-up {
	top: 13%;
  }
  .main-2 .block-text .step-for-two .title {
	font-size: 25px;
	margin-bottom: 15px;
  }
  .main-2 .block-text .step-for-two .description {
	margin-bottom: 50px;
	font-size: 18px;
  }
  .main-2 .block-text .step-for-two figure figcaption .heading {
	font-size: 19px;
	margin-bottom: 3px;
  }
  .main-2 .block-text .step-for-two figure figcaption span {
	font-size: 15px;
  }
  .main-2 .block-text .step-for-three .task-mini figure figcaption .heading {
	font-size: 15px;
  }
  .main-2 .block-text .step-for-three .task-mini figure figcaption span {
	font-size: 14px;
  }
  .main-2 .block-text .step-for-three .task-mini figure figcaption {
	max-width: 220px;
  }
  .main-2 .block-text .step-for-three .task-mini .select {
	width: 220px;
  }
  .main-2 .block-text .step-for-three .task-mini figure {
	margin: 5px auto 50px;
  }
  .main-2 .block-text .step-for-three .title {
	font-size: 23px;
	line-height: 30px;
	margin-bottom: 10px;
  }
  .main-2 .block-text .step-for-three .text {
	font-size: 15px;
	margin-bottom: 50px;
  }
  .main-4 .scroll-up {
	top: 12%;
  }
  .main-4 .title {
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 20px;
  }
  .main-4 .description {
	font-size: 18px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px){
  .header .nav li a,
  .header-inner .nav li a{
	margin: 0 50px 0;
  }
  .header .navbar-default .navbar-nav > li > a,
  .header-inner .navbar-default .navbar-nav > li > a{
	font-size: 17px;
  }
  .header .navbar-default .navbar-form.navbar-right .registr,
  .header-inner .navbar-default .navbar-form.navbar-right .registr{
	font-size: 17px;
	line-height: 30px;
	width: 160px;
	height: 35px;
  }
  .header .navbar-default .navbar-form.navbar-right .login,
  .header-inner .navbar-default .navbar-form.navbar-right .login{
	font-size: 17px;
	line-height: 30px;
	width: 90px;
	height: 35px;
  }
  .slider .img-responsive, .slider .thumbnail > img, .slider .thumbnail a > img, .slider .carousel-inner > .item > img, .slider .carousel-inner > .item > a > img {
	height: 1050px;
	position: relative;
  }
  .slider .carousel-caption {
	top: 25%;
  }
  .slider .carousel-caption .title {
	font-size: 32px;
  }
  .slider .carousel-caption .description {
	font-size: 18px;
	padding: 0 15vh;

  }
  .slider .page-indicator, .main-2 .page-indicator, .main-3 .page-indicator, .main-4 .page-indicator {
	top: 40%;
  }
  .slider .page-indicator .page,
  .main-2 .page-indicator .page,
  .main-3 .page-indicator .page,
  .main-4 .page-indicator .page{
	font-size: 100px;
  }
  .slider .page-indicator .vertical,
  .main-2 .page-indicator .vertical,
  .main-3 .page-indicator .vertical,
  .main-4 .page-indicator .vertical{
	width: 5px;
	height: 73px;
	margin-right: 15px;
  }
  .slider .page-indicator sub,
  .main-2 .page-indicator sub,
  .main-3 .page-indicator sub,
  .main-4 .page-indicator sub{
	font-size: 28px;
	bottom: -1.2em;
  }
  .main-2 .block-text .step-for-one .title {
	font-size: 32px;
	line-height: 36px;
	margin-bottom: 30px;
  }
  .main-2 .block-text .step-for-one .description {
	font-size: 19px;
  }
  .main-2 .block-step .slider-nav .step {
	font-size: 19px;
  }
  .main-2 .scroll-down {
	bottom: 3%;
  }
  .main-2 .scroll-up {
	top: 13%;
  }
  .main-2 .block-text .step-for-two .title {
	font-size: 24px;
	margin-bottom: 10px;
  }
  .main-2 .block-text .step-for-two .description {
	margin-bottom: 70px;
	font-size: 18px;
  }
  .main-2 .block-text .step-for-two figure figcaption .heading {
	font-size: 21px;
	margin-bottom: 3px;
  }
  .main-2 .block-text .step-for-two figure figcaption span {
	font-size: 17px;
  }
  .main-2 .block-text .step-for-three .task-mini figure figcaption .heading {
	font-size: 18px;
  }
  .main-2 .block-text .step-for-three .task-mini figure figcaption span {
	font-size: 16px;
  }
  .main-2 .block-text .step-for-three .task-mini figure figcaption {
	max-width: 179px;
  }
  .main-2 .block-text .step-for-three .task-mini .select {
	width: 179px;
  }
  .main-2 .block-text .step-for-three .task-mini figure {
	margin: 5px auto 70px;
  }
  .main-2 .block-text .step-for-three .text {
	font-size: 17px;
	margin-bottom: 70px;
  }
  .main-3 .scroll-down {
	bottom: 3%;
  }
  .main-3 .scroll-up {
	top: 12%;
  }
  .main-3 .block-text .step-for-one .slide-information .heading {
	font-size: 26px;
  }
  .main-3 .block-text .step-for-one .slide-information .description {
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 22px;
  }
  .main-3 .block-text .step-for-one .list li {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 15px;
  }
  .main-3 .block-step .slider-nav .step {
	font-size: 20px;
  }
  .main-3 .block-text .step-for-two .rate-selection .rate {
	max-width: 270px;
	margin: 6px 15px 6px;
  }
  .main-3 .block-text .step-for-two .rate-selection .select {
	width: 270px;
  }
  .main-3 .block-text .step-for-two .rate-selection .rate .title {
	font-size: 18px;
  }
  .main-3 .block-text .step-for-two .rate-selection .rate span {
	font-size: 20px;
  }
  .main-3 .block-text .step-for-two .rate-selection .rate button {
	font-size: 16px;
  }
  .main-3 .block-text .step-for-two .rate-selection .rate ul li {
	font-size: 16px;
  }
  .main-3 .block-text .step-for-three .user-information .description {
	font-size: 18px;
  }
  .main-3 .block-text .step-for-three .user-information .name {
	font-size: 18px;
  }
  .main-3 .block-text .step-for-three .user-data {
	padding-top: 70px;
  }
  .main-3 .block-text .step-for-three .user-data span {
	font-size: 40px;
	line-height: 40px;
  }
  .main-3 .block-text .step-for-three .user-data .block-1 span {
	margin-right: 0;
  }
  .main-3 .block-text .step-for-three .user-data .block-2 span {
	margin-right: 0;
  }
  .main-4 {
	padding: 15vh 0 5vh;
  }
  .main-4 .scroll-up {
	top: 12%;
  }
  .main-4 .title {
	font-size: 26px;
	line-height: 28px;
	margin-bottom: 35px;
  }
  .main-4 .description {
	font-size: 18px;
	margin-bottom: 60px;
  }
  .main-4 .feadback label {
	font-size: 16px;
  }
  .main-4 .feadback textarea {
	height: 50px;
	font-size: 16px;
  }
  .main-4 .feadback input {
	height: 40px;
	font-size: 16px;
  }
  .main-4 .information p {
	font-size: 15px;
  }
  .main-4 .information .heading {
	font-size: 22px;
  }
  .footer {
	height: 150px;
	margin: -150px auto;
	padding: 10px 0;
  }
  .footer .copyright span {
	font-size: 18px;
	margin-bottom: 5px;
  }
  .first {
	padding: 20vh 0 10vh;
  }
  .first .left-block .heading, .first .right-block .heading {
	font-size: 22px;
  }
  .first .left-block p, .first .right-block p {
	font-size: 17px;
	line-height: 22px;
  }
  .first .requisites .description {
	font-size: 17px;
	line-height: 22px;
  }
  .first .requisites figure figcaption span {
	font-size: 15px;
	line-height: 15px;
  }
  .two .rate-description .descr {
	font-size: 15px;
	line-height: 22px;
  }
  .two .rate-description .heading {
	font-size: 18px;
  }
  .two .rate-description .one-char,
  .two .rate-description .two-char,
  .two .rate-description .three-char {
	font-size: 15px;
  }
  .two .rate-description .one-offer,
  .two .rate-description .two-offer,
  .two .rate-description .three-offer {
	font-size: 15px;
  }
  .two .rate-description .btn-wrap .profit, .two .rate-description .btn-wrap .invest {
	max-width: 188px;
	height: 34px;
	line-height: 32px;
	font-size: 15px;
  }
  .two .other-block .heading {
	font-size: 22px;
  }
  .two .other-block p {
	font-size: 17px;
	line-height: 22px;
  }
  .two .vertical-slider .rate figure figcaption {
	font-size: 17px;
	line-height: 22px;
  }
  .menu {
	max-width: 385px;
	top: 40%;
	-webkit-transform: translate(0%, -40%);
	transform: translate(0%, -40%);
  }
  .menu ul > li > a {
	font-size: 85px;
  }
  .menu ul > li > a.active {
	font-size: 85px;
  }
  .menu ul > li > a span {
	font-size: 18px;
	margin-top: -20px;
  }
  .menu ul li .vert {
	width: 5px;
	height: 75px;
  }
  .scroll-down-home{
	width: 50px;
	height: 50px;
	border-radius: 50px;
  }
  .register form input[type="checkbox"]:checked + label::before {
	background-position: -21px 0;
  }
  .register form input[type="checkbox"] + label::before {
	height: 22px;
	width: 23px;
  }
  .ok-register figure img {
	margin-bottom: 30px;
	width: 80px;
  }
  .ok-register figure figcaption {
	font-size: 21px;
  }
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .header .nav li a,
  .header-inner .nav li a{
	margin: 0 60px 0;
  }
  .header .navbar-default .navbar-nav > li > a,
  .header-inner .navbar-default .navbar-nav > li > a{
	font-size: 18px;
  }
  .header .navbar-default .navbar-form.navbar-right .registr,
  .header-inner .navbar-default .navbar-form.navbar-right .registr{
	font-size: 18px;
	line-height: 30px;
	width: 170px;
	height: 35px;
	border-radius: 10px;
  }
  .header .navbar-default .navbar-form.navbar-right .login,
  .header-inner .navbar-default .navbar-form.navbar-right .login{
	font-size: 18px;
	line-height: 30px;
	width: 100px;
	height: 35px;
  }
  .slider .img-responsive, .slider .thumbnail > img, .slider .thumbnail a > img, .slider .carousel-inner > .item > img, .slider .carousel-inner > .item > a > img {
	height: 1080px;
	position: relative;
  }
  .slider .carousel-caption {
	margin: auto;
	position: absolute;
	top: 25%;
	left: 45%;
	-webkit-transform: translate(-40%, 15%);
	transform: translate(-40%, 15%);
	padding-bottom: 0;
	right: auto;
  }
  .slider .carousel-caption .title {
	font-size: 36px;
	margin-bottom: 40px;
  }
  .slider .carousel-caption .description {
	font-size: 20px;
	line-height: 24px;
	padding: 0 15vh;
  }
  .slider .page-indicator, .main-2 .page-indicator, .main-3 .page-indicator, .main-4 .page-indicator {
	top: 40%;
	left: 3%;
  }
  .slider .page-indicator .page {
	font-size: 125px;
  }
  .slider .page-indicator .vertical {
	width: 5px;
	height: 88px;
	margin-right: 20px;
  }
  .slider .page-indicator sub {
	font-size: 30px;
	bottom: -1.25em;
  }
  .main-2 .block-text .step-for-one .title {
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 35px;
  }
  .main-2 .block-text .step-for-one .description {
	font-size: 20px;
  }
  .main-2  .page-indicator .page {
	font-size: 125px;
  }
  .main-2 .page-indicator .vertical {
	width: 5px;
	height: 88px;
	margin-right: 20px;
  }
  .main-2  .page-indicator sub {
	font-size: 30px;
	bottom: -1.25em;
  }
  .main-2 .block-step .slider-nav .step {
	font-size: 20px;
  }
  .main-2 .scroll-down {
	bottom: 10%;
  }
  .main-2 .scroll-up {
	top: 11%;
  }
  .main-2 .block-text .step-for-two .title {
	font-size: 28px;
	margin-bottom: 15px;
  }
  .main-2 .block-text .step-for-two .description {
	margin-bottom: 70px;
	font-size: 20px;
  }
  .main-2 .block-text .step-for-two figure figcaption .heading {
	font-size: 22px;
	margin-bottom: 3px;
  }
  .main-2 .block-text .step-for-two figure figcaption span {
	font-size: 18px;
  }
  .main-2 .block-text .step-for-three .task-mini {
	margin-top: 70px;
  }
  .main-2 .block-text .step-for-three .task-mini figure figcaption .heading {
	font-size: 18px;
  }
  .main-2 .block-text .step-for-three .task-mini figure figcaption span {
	font-size: 16px;
  }
  .main-2 .block-text .step-for-three .task-mini figure figcaption {
	max-width: 179px;
  }
  .main-2 .block-text .step-for-three .task-mini .select {
	width: 179px;
  }
  .main-2 .block-text .step-for-three .task-mini figure {
	margin: 5px auto 70px;
  }
  .main-2 .block-text .step-for-three .text {
	font-size: 18px;
	margin-bottom: 80px;
  }
  .main-3 .scroll-down {
	bottom: 10%;
  }
  .main-3 .scroll-up {
	top: 12%;
  }
  .main-3 .block-text .step-for-one .slide-information .heading {
	font-size: 28px;
  }
  .main-3 .block-text .step-for-one .slide-information .description {
	font-size: 20px;
	margin-bottom: 20px;
	line-height: 22px;
  }
  .main-3  .page-indicator .page {
	font-size: 125px;
  }
  .main-3 .page-indicator .vertical {
	width: 5px;
	height: 88px;
	margin-right: 20px;
  }
  .main-3  .page-indicator sub {
	font-size: 30px;
	bottom: -1.25em;
  }
  .main-3 .block-text .step-for-one .slide-information {
	margin-top: 125px;
  }
  .main-3 .block-text .step-for-one #piechart {
	padding-top: 150px;
  }
  .main-3 .block-text .step-for-one .list li {
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 15px;
  }
  .main-3 .block-step .slider-nav .step {
	font-size: 20px;
  }
  .main-3 .block-text .step-for-two .rate-selection {
	margin-top: 105px;
  }
  .main-3 .block-text .step-for-two .rate-selection .rate {
	max-width: 279px;
	margin: 5px 10px 5px;
  }
  .main-3 .block-text .step-for-two .rate-selection .select {
	width: 279px;
  }
  .main-3 .block-text .step-for-two .rate-selection .rate .title {
	font-size: 18px;
  }
  .main-3 .block-text .step-for-two .rate-selection .rate span {
	font-size: 20px;
  }
  .main-3 .block-text .step-for-two .rate-selection .rate button {
	font-size: 16px;
  }
  .main-3 .block-text .step-for-two .rate-selection .rate ul li {
	font-size: 16px;
  }
  .main-3 .block-text .step-for-three .user-information {
	padding-top: 135px;
  }
  .main-3 .block-text .step-for-three .user-information .description {
	font-size: 18px;
  }
  .main-3 .block-text .step-for-three .user-information .name {
	font-size: 18px;
  }
  .main-3 .block-text .step-for-three .user-data {
	padding-top: 135px;
  }
  .main-3 .block-text .step-for-three .user-data .block-1 span {
	font-size: 40px;
	line-height: 40px;
  }
  .main-3 .block-text .step-for-three .user-data .block-1 span i{
	font-size: 20px;
  }
  .main-3 .block-text .step-for-three .user-data .block-2 span {
	font-size: 40px;
	line-height: 40px;
  }
  .main-3 .block-text .step-for-three .user-data .block-2 span i{
	font-size: 20px;
  }
  .main-4 .scroll-up {
	top: 12%;
  }
  .main-4 .title {
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 35px;
  }
  .main-4 .description {
	font-size: 20px;
	margin-bottom: 70px;
  }
  .main-4  .page-indicator .page {
	font-size: 125px;
  }
  .main-4 .page-indicator .vertical {
	width: 5px;
	height: 88px;
	margin-right: 20px;
  }
  .main-4  .page-indicator sub {
	font-size: 30px;
	bottom: -1.25em;
  }
  .feadback label {
	font-size: 16px;
  }
  .feadback textarea {
	height: 100px;
	font-size: 16px;
  }
  .feadback input {
	height: 45px;
	font-size: 16px;
  }
  .main-4 .information {
	max-width: 280px;
	padding: 16px 25px 10px;
  }
  .main-4 .information p {
	font-size: 16px;
  }
  .main-4 .information .heading {
	font-size: 24px;
  }
  .footer {
	height: 150px;
	margin: -150px auto;
	padding: 10px 0;
  }
  .footer .copyright span {
	font-size: 18px;
	margin-bottom: 5px;
  }
  .first {
	padding: 20vh 0 10vh;
  }
  .first .left-block .heading, .first .right-block .heading {
	font-size: 24px;
  }
  .first .left-block p, .first .right-block p {
	font-size: 18px;
	line-height: 24px;
  }
  .first .requisites .description {
	font-size: 18px;
	line-height: 24px;
  }
  .first .requisites figure figcaption span {
	font-size: 16px;
	line-height: 16px;
  }
  .two .rate-description .descr {
	font-size: 16px;
	line-height: 24px;
  }
  .two .rate-description .heading {
	font-size: 20px;
  }
  .two .rate-description .one-char,
  .two .rate-description .two-char,
  .two .rate-description .three-char {
	font-size: 16px;
  }
  .two .rate-description .one-offer,
  .two .rate-description .two-offer,
  .two .rate-description .three-offer {
	font-size: 16px;
  }
  .two .rate-description .btn-wrap .profit, .two .rate-description .btn-wrap .invest {
	max-width: 159px;
	height: 34px;
	line-height: 32px;
	font-size: 16px;
  }
  .two .other-block .heading {
	font-size: 24px;
  }
  .two .other-block p {
	font-size: 18px;
	line-height: 24px;
  }
  .two .vertical-slider .rate figure figcaption {
	font-size: 18px;
	line-height: 24px;
  }
  .menu {
	max-width: 400px;
	top: 40%;
	left: 2%;
	-webkit-transform: translate(0%, -40%);
	transform: translate(0%, -40%);
  }
  .menu ul > li > a {
	font-size: 100px;
  }
  .menu ul > li > a.active {
	font-size: 100px;
  }
  .menu ul > li > a span {
	font-size: 20px;
	margin-top: -25px;
  }
  .menu ul li .vert {
	width: 5px;
	height: 88px;
  }
  .scroll-down-home{
	width: 60px;
	height: 60px;
	border-radius: 60px;
  }
  .news .nav-tabs > li.active > a, .news .nav-tabs > li.active > a:hover, .news .nav-tabs > li.active > a:focus {
	font-size: 18px;
  }
  .news .nav-tabs > li.active > a span, .news .nav-tabs > li.active > a:hover span, .news .nav-tabs > li.active > a:focus span {
	font-size: 12px;
  }
  .news .nav-tabs > li > a, .news .nav-tabs > li > a:hover, .news .nav-tabs > li > a:focus {
	font-size: 18px;
  }
  .news .nav-tabs > li > a span, .news .nav-tabs > li > a:hover span, .news .nav-tabs > li > a:focus span {
	font-size: 12px;
  }
  .agreement .nav-tabs > li > a, .agreement .nav-tabs > li > a:hover, .agreement .nav-tabs > li > a:focus {
	font-size: 18px;
  }
  .agreement .nav-tabs > li.active > a, .agreement .nav-tabs > li.active > a:hover, .agreement .nav-tabs > li.active > a:focus {
	font-size: 18px;
  }
  .agreement dl dd {
	font-size: 18px;
	line-height: 22px;
  }
  .agreement .vert-line {
	top: 12%;
  }
  .register form input[type="checkbox"]:checked + label::before {
	background-position: -21px 0;
  }
  .register form input[type="checkbox"] + label::before {
	height: 22px;
	width: 23px;
  }
  .registration .next{
	max-width: 205px;
	height: 34px;
	font-size: 16px;
	line-height: 32px;
  }
  .registration-2 .prev {
	max-width: 200px;
	width: 100%;
	height: 34px;
	font-size: 16px;
	line-height: 30px;
  }
  .registration-2 .next {
	max-width: 200px;
	height: 34px;
	font-size: 16px;
	line-height: 32px;
  }
  .ok-register figure img {
	margin-bottom: 30px;
	width: 101px;
  }
  .ok-register figure figcaption {
	font-size: 24px;
  }
  .sign input {
	max-width: 420px;
	height: 34px;
  }
  .sign label {
	font-size: 16px;
  }
  .sign .signin {
	max-width: 200px;
	width: 100%;
	height: 34px;
	font-size: 16px;
	line-height: 32px;
  }
  .sign-in {
	padding: 30vh 0 5vh;
  }
  .first .vertical-line {
	top: 30%;
  }

}