//slider

.slider{
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;

  .carousel > ol.carousel-indicators {
	display: none;
  }

  .img-responsive, .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
	height: auto;
	position: relative;
  }

  .carousel-caption {
	margin: auto;
	position: absolute;
	top: 20%;
	left: 45%;
	-webkit-transform: translate(-40%, 15%);
	transform: translate(-40%, 15%);
	padding-bottom: 0;
	right: auto;

	.title{
	  color: #fff;
	  font-family: $ANR;
	  font-size: 25px;
	  line-height: 30px;
	  font-weight: 400;
	  margin-bottom: 30px;
	}
	.description{
	  color: #fff;
	  font-family: $ANR;
	  font-size: 16px;
	  line-height: 20px;
	  font-weight: 400;
	  padding: 0 15vh;
	  text-align: center;
	}
  }

  .carousel-fade .carousel-inner .item {
	-webkit-transition-property: opacity;
	transition-property: opacity;
  }
  .carousel-fade .carousel-inner .item,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
	opacity: 0;
  }
  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
  }
  .carousel-fade .carousel-inner .next,
  .carousel-fade .carousel-inner .prev,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-control {
	z-index: 2;
	display: none;
  }
  .page-indicator{
	background-color: transparent;
	position: absolute;
	top: 45%;
	left: 0;

	.page{
	  opacity: 1;
	  font-family: $ANR;
	  font-size: 75px;
	  font-weight: 400;
	  display: inline-block;
	  vertical-align: middle;
	}
	.vertical{
	  width: 4px;
	  height: 58px;
	  opacity: 1;
	  display: inline-block;
	  vertical-align: middle;
	  margin-right: 10px;
	}
	sub{
	  opacity: 1;
	  font-family: "AlergiaNormalRegular", sans-serif;
	  font-size: 25px;
	  font-weight: 400;
	  bottom: -1em;
	}
  }

}

//header

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1920px;
  min-width: 1000px;
  background-color: transparent;
  display: block!important;
  z-index: 1045;

  .navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	margin-right: 7%;
	margin-left: 7%;
  }

  .navbar-default {
	background-color: transparent;
	border-color: transparent;
	border-bottom: 1px solid white;
	height: 78px;
	position: relative;
	display: block;
  }

  .navbar-brand {
	float: left;
	height: auto;
	padding: 26px 15px;
	color: transparent;
	margin-right: 60px;
  }

  .navbar-nav {
	padding-top: 0;
  }

  .navbar-right {
	float: right !important;
	margin-right: 0;
  }

  .navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
	font-family: $ANR;
	line-height: 28px;

  }

  .nav {
	li {
	  a {
		padding: 23px 0 0;
		margin: 0 25px 0;
		border-bottom: 2px solid transparent;
		@include transition(all .6s);

		&:hover{
		  border-bottom: 2px solid white;
		}
	  }
	}
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
	color: white;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background-color: transparent;
  }

  .container-fluid > .navbar-header{
	margin-right: 0;
	margin-left: -15px;
  }

  .navbar-default .navbar-form {
	border-color: transparent;
	padding: 0;
  }
  .navbar-default .navbar-form.navbar-right {
	position: absolute;
	top: 12px;
	right: 0;


	.registr{
	  color: #6e6e6e;
	  font-family: $ANR;
	  font-size: 15px;
	  line-height: 24px;
	  font-weight: 400;
	  text-decoration: none;
	  width: 150px;
	  height: 30px;
	  border-radius: 8px;
	  background-color: #fff;
	  text-align: center;
	  display: inline-block;
	  border: 2px solid transparent;
	  @include transition(all 0.5s);
	  vertical-align: middle;

	  img {
		vertical-align: baseline;
		margin-right: 5px;
		display: inline-block;
	  }

	  &:hover{
		color: #fff;
		border: 2px solid white;
		background-color: transparent;
	  }
	}

	.login{
	  color: #fff;
	  font-family: $ANR;
	  font-size: 15px;
	  line-height: 24px;
	  font-weight: 400;
	  text-decoration: none;
	  width: 80px;
	  height: 30px;
	  border-radius: 8px;
	  border: 2px solid #fff;
	  display: inline-block;
	  text-align: center;
	  @include transition(all 0.5s);
	  vertical-align: middle;
	  margin-left: 5px;

	  img {
		vertical-align: baseline;
		margin-right: 5px;
		display: inline-block;
	  }

	  &:hover{
		color: #6e6e6e;
		border: 2px solid transparent;
		background-color: #fff;
	  }
	}
  }

}

.header-inner{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1920px;
  min-width: 1000px;
  display: block!important;
  z-index: 1045;
  opacity: 0.98;
  filter: alpha(Opacity=98);
  height: auto;

  .navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	margin-right: 7%;
	margin-left: 7%;
  }

  .navbar-default {
	background-color: transparent;
	border-color: transparent;
	border-bottom: none;
	height: 78px;
	position: relative;
	display: block;
  }

  .navbar-brand {
	float: left;
	height: auto;
	padding: 26px 15px;
	color: transparent;
	margin-right: 60px;
  }

  .navbar-nav {
	padding-top: 0;
  }

  .navbar-right {
	float: right !important;
	margin-right: 0;
  }

  .navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
	font-family: $ANR;
	line-height: 28px;

  }

  .nav {
	li {
	  a {
		padding: 23px 0 0;
		margin: 0 25px 0;
		border-bottom: 2px solid transparent;
		@include transition(all .6s);

		&:hover{
		  border-bottom: 2px solid white;
		}
	  }
	}
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
	color: white;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background-color: transparent;
  }

  .container-fluid > .navbar-header{
	margin-right: 0;
	margin-left: -15px;
  }

  .navbar-default .navbar-form {
	border-color: transparent;
	padding: 0;
  }
  .navbar-default .navbar-form.navbar-right {
	position: absolute;
	top: 12px;
	right: 0;


	.registr{
	  color: #6e6e6e;
	  font-family: $ANR;
	  font-size: 16px;
	  line-height: 26px;
	  font-weight: 400;
	  text-decoration: none;
	  width: 150px;
	  height: 32px;
	  border-radius: 10px;
	  background-color: #fff;
	  text-align: center;
	  display: inline-block;
	  border: 2px solid transparent;
	  @include transition(all 0.5s);

	  img {
		vertical-align: baseline;
		margin-right: 5px;
		display: inline-block;
	  }

	  &:hover{
		color: #fff;
		border: 2px solid white;
		background-color: transparent;
	  }
	}

	.login{
	  color: #fff;
	  font-family: $ANR;
	  font-size: 16px;
	  line-height: 26px;
	  font-weight: 400;
	  text-decoration: none;
	  width: 80px;
	  height: 32px;
	  border-radius: 10px;
	  border: 2px solid #fff;
	  display: inline-block;
	  text-align: center;
	  @include transition(all 0.5s);
	  margin-left: 5px;

	  img {
		vertical-align: baseline;
		margin-right: 5px;
		display: inline-block;
	  }

	  &:hover{
		color: #6e6e6e;
		border: 2px solid transparent;
		background-color: #fff;
	  }
	}
  }

}

.header.fixed{
  opacity: 0.98;
  filter: alpha(Opacity=98);
  z-index: 1099;
  height: auto;
  width: 100%;

  .navbar-default {
	border-bottom: none;
  }

}

//left-menu (page indicator)

.menu{
  width: 100%;
  max-width: 350px;
  height: auto;
  background-color: white;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -10%);
  transform: translate(0%, -10%);
  z-index: 1045;
  text-align: center;
  padding: 0;
  display: none;
  opacity: 0;
  color: #b6b6b6;


  ul > li > a{
	color: #6e6e6e;
	font-family: $ANR;
	font-size: 60px;
	font-weight: 400;
	text-decoration: none;
	padding: 0 14px;
	display: inline-block;
	vertical-align: middle;
	@include transition(all 0.5s);

	span{
	  color: #6e6e6e;
	  font-family: $ANR;
	  font-size: 15px;
	  font-weight: 400;
	  display: block;
	  margin-top: -15px;
	}
  }
  .menu-list li:hover a,
  .menu-list li:hover span{
	color: #e9a46c;
  }

  ul > li > a.active{
	color: #e9a46c;
	font-family: $ANR;
	font-size: 60px;
	font-weight: 400;
	span{
	  color: #e9a46c;
	}
  }

  ul{
	li{
	  .vert{
		width: 4px;
		height: 50px;
		background-color: #ebebeb;
		display: inline-block;
		vertical-align: middle;
	  }
	}
  }
}

//calculator

#calculator{
  width: 100%;
  height: auto;
  max-width: 844px;
  border-radius: 8px;
  background-color: #fff;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
  transform: translate(-50%, -10%);
  z-index: 1045;
  text-align: center;
  padding: 40px 60px;
  display: none;
  opacity: 0;
  color: #b6b6b6;

  .close{
	position: absolute;
	top: 10px;
	right: 20px;
	background-color: transparent;
	cursor: pointer;
  }

  .title{
	color: #616161;
	font-family: $ANB;
	font-size: 24px;
	font-weight: 700;
  }
  .title-slider{
	color: #616161;
	font-family: $ANB;
	font-size: 16px;
	font-weight: 700;
	display: block;
	text-align: left;
	padding-left: 80px;
  }
  .irs {
	height: 55px;
	max-width: 480px;
	width: 100%;
	margin-right: 30px;
	display: inline-block;
	margin-bottom: 50px;
  }
  .irs-bar {
	height: 10px;
	top: 37px;
	border-top: 1px solid #ee9377;
	border-bottom: 1px solid #ee9377;
	background: #ee9377;
	background: linear-gradient(to right, #ee9377 0%, #e8a66b 100%);
  }
  .irs-bar-edge {
	height: 10px;
	top: 37px;
	width: 14px;
	border: 1px solid #ee9377;
	border-right: 0;
	background: #ee9377;
	background: linear-gradient(to right, #ee9377 0%, #e8a66b 100%);
	border-radius: 16px 0 0 16px;
	-moz-border-radius: 16px 0 0 16px;
  }
  .irs-min, .irs-max {
	color: #b3b3b3;
	background: transparent;
  }
  .irs-from, .irs-to, .irs-single {
	color: #fff;
	font-size: 14px;
	line-height: 1.333;
	text-shadow: none;
	padding: 1px 5px;
	background: #ee9377;
	border-radius: 3px;
	-moz-border-radius: 3px;
  }
  .profit{
	width: 204px;
	height: 41px;
	border-radius: 6px;
	border: 1px solid #e6e6e6;
	display: inline-block;
	vertical-align: middle;
	color: #616161;
	font-family: $ANB;
	font-size: 16px;
	font-weight: 700;
	text-align: center;

	@include placeholder($color: #616161);
  }
  .calculation-of-profits{
	width: 100%;
	border-top:1px solid #e6e6e6;
	padding: 20px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #e6e6e6;

	.day-profit,
	.month-profit,
	.half-year-profit{
	  display: inline-block;
	  width: 30%;

	  span{
		color: #616161;
		font-family: $ANB;
		font-size: 16px;
		font-weight: 700;
		display: block;
		margin-bottom: 25px;
	  }
	}
	.month-profit,
	.day-profit{
	  border-right: 1px solid #e6e6e6;
	}
  }

  .send{
	width: 150px;
	height: 30px;
	border-radius: 6px;
	color: #fff;
	font-family: $ANR;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
	display: block;
	line-height: 28px;
	margin: 0 auto;

	&:hover{
	  text-decoration: none;
	}
  }
}

//overlay

.overlay {
  z-index: 100;
  position: fixed;
  background-color: #2d2d2d;
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter: alpha(opacity=2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.overlay2 {
  z-index: 100;
  position: fixed;
  background-color: #2d2d2d;
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter: alpha(opacity=2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}



//social-group

.social-group{
  position: absolute;
  top: 40%;
  right: 5%;
  -webkit-transform: translate(-5%, -10%);
  transform: translate(-5%, -10%);
  z-index: 100;

  .icons{
	background-image: url('../img/icon-sprites.png');
	background-repeat: no-repeat;
	display: block;
	z-index: 100;
	margin-bottom: 15px;
	width: 34px;
	height: 34px;
	border-radius: 50%;
  }
  .vk{
	background-position: 0 -204px;

	&:hover{
	  background-position: 0 -238px;
	}
  }
  .fb{
	background-position: 0 0;

	&:hover{
	  background-position: 0 -34px;
	}
  }
  .in{
	background-position: 0 -68px;

	&:hover{
	  background-position: 0 -102px;
	}
  }
  .tel{
	background-position: 0 -136px;

	&:hover{
	  background-position: 0 -170px;
	}
  }
}

.vertical-line{
  width: 2px;
  height: 36px;
  border: 2px solid #fff;
  opacity: 0.6;
  position: absolute;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translate(-50%, -1%);
  transform: translate(-50%, -1%);
}

//main-2

.main-2{
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 19vh 0 10vh;
  background-color: #fff;

  .page-indicator{
	background-color: transparent;
	position: absolute;
	top: 45%;
	left: 0;

	.page{
	  opacity: 1;
	  font-family: $ANR;
	  font-size: 75px;
	  font-weight: 400;
	  display: inline-block;
	  vertical-align: middle;
	}
	.vertical{
	  width: 4px;
	  height: 58px;
	  opacity: 1;
	  display: inline-block;
	  vertical-align: middle;
	  margin-right: 10px;
	}
	sub{
	  opacity: 1;
	  font-family: "AlergiaNormalRegular", sans-serif;
	  font-size: 25px;
	  font-weight: 400;
	  bottom: -1em;
	}
  }

  .slick-slider {
	text-align: center;
  }
  .slick-initialized .slick-slide {
	display: block;
	outline: none;
	cursor: pointer;
  }

  .slick-prev:before {
	content: '';
	display: block;
	position: absolute;
	background: url("../img/left-arrow.png") 0 0 no-repeat;
	width: 12px;
	height: 22px;
  }
  .slick-next:before{
	content: '';
	display: block;
	position: absolute;
	background: url("../img/right-arrow.png") 0 0 no-repeat;
	width: 12px;
	height: 22px;
  }

  .slick-prev:before, .slick-next:before {
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
	opacity: 0;
  }

  .block-text{
	margin-bottom: 0;

	.step-for-one{
	  margin-top: 15vh;

	  .title{
		color: #616161;
		font-family:$ANR;
		font-size: 22px;
		line-height: 25px;
		font-weight: 400;
		text-align: center;
		margin-bottom: 10px;
	  }
	  .description{
		color: #808080;
		font-family: $ANR;
		font-size: 14px;
		line-height: 18px;
		font-weight: 400;
		text-align: center;
		margin: 0 auto 30px;
		width: 39vw;
	  }
	}

	.step-for-two{
	  width: 100%;

	  .title{
		font-size: 22px;
		margin-bottom: 5px;
		font-weight: 400;
		margin-top: 11vh;
	  }

	  .description{
		margin-bottom: 40px;
		font-size: 14px;
		font-weight: 400;
		font-family: $ANR;
	  }

	  figure{
		margin: 0 20px;
		display: inline-block;

		img{
		  margin: 0 auto 10px;
		}

		figcaption{
		  max-width: 240px;
		  width: 100%;

		  .heading{
			color: #616161;
			font-family: $ANR;
			font-size: 15px;
			font-weight: 400;
			text-align: center;
		  }
		  span{
			color: #808080;
			font-family: $ANR;
			font-size: 14px;
			font-weight: 400;
			display: block;
		  }
		}
	  }
	}

	.step-for-three{
	  .task-mini{
		margin-top: 20px;
		margin-bottom: 0;

		.task{
		  margin: 5px auto 30px;
		  display: inline-block;
		  opacity: 0.5;

		  img{
			margin: 0 auto 10px;
			width: 30px;
			text-align: center;
		  }

		  figcaption{
			max-width: 170px;
			width: 100%;

			.heading{
			  color: #616161;
			  font-family: $ANR;
			  font-size: 13px;
			  font-weight: 400;
			  text-align: center;
			  margin-bottom: 5px;
			}
			span{
			  color: #808080;
			  font-family: $ANR;
			  font-size: 11px;
			  line-height: 15px;
			  font-weight: 400;
			  display: block;
			}
		  }
		}

		.select{
		  width: 170px;
		  height: auto;
		  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
		  border-radius: 6px;
		  background-color: transparent;
		  padding: 10px 0;
		  opacity: 1;

		  .heading{
			color: #616161;
			font-family: $ANR;
			font-size: 13px;
			font-weight: 400;
			text-align: center;
			margin-bottom: 5px;
		  }
		  span{
			color: #808080;
			font-family: $ANR;
			font-size: 11px;
			line-height: 15px;
			font-weight: 400;
			display: block;
		  }
		}
	  }

	  .title{
		font-size: 22px;
		font-weight: 400;
		line-height: 36px;
	  }
	  .text{
		color: #808080;
		font-family: $ANR;
		font-size: 13px;
		font-weight: 400;
		text-align: center;
		width: 42vw;
		margin: 0 auto 30px;
	  }

	}
  }

  .block-step{
	text-align: center;
	width: 100%;
	max-width: 600px;
	margin: -20px auto 0;

	.slider-nav{
	  .step{
		display: block;
		color: #616161;
		font-family: $ANR;
		font-size: 15px;
		font-weight: 400;

		.top-line{
		  width: 200px;
		  height: 8px;
		  border-radius: 4px;
		  background-image: linear-gradient(to right, #ececec 100%, #ececec 100%);
		  margin-bottom: 10px;
		  @include transition(all 0.5s);
		}
		.active{
		  width: 200px;
		  height: 8px;
		  border-radius: 4px;
		  display: block;
		  background-image: linear-gradient(to right, #f38b4c 0%, #ffaf67 100%);
		}

	  }
	  .step:hover .top-line{
		width: 200px;
		height: 8px;
		border-radius: 4px;
		background-image: linear-gradient(to right, #f38b4c 0%, #ffaf67 100%);
		display: block;
	  }
	}
  }
}

//main-3

.main-3 {
  width: 100vw;
  min-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  padding: 20vh 0 10vh;
  background-color: #fff;

  .page-indicator{
	background-color: transparent;
	position: absolute;
	top: 45%;
	left: 0;

	.page{
	  opacity: 1;
	  font-family: $ANR;
	  font-size: 75px;
	  font-weight: 400;
	  display: inline-block;
	  vertical-align: middle;
	}
	.vertical{
	  width: 4px;
	  height: 58px;
	  opacity: 1;
	  display: inline-block;
	  vertical-align: middle;
	  margin-right: 10px;
	}
	sub{
	  opacity: 1;
	  font-family: "AlergiaNormalRegular", sans-serif;
	  font-size: 25px;
	  font-weight: 400;
	  bottom: -1em;
	}
  }

  .slick-slider {
	text-align: center;
  }
  .slick-initialized .slick-slide {
	display: block;
	outline: none;
	cursor: pointer;
  }
  .slick-prev:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	background: url("../img/left-arrow.png") 0 0 no-repeat;
	width: 12px;
	height: 22px;
  }
  .slick-next:before {
	content: '';
	display: block;
	position: absolute;
	background: url("../img/right-arrow.png") 0 0 no-repeat;
	width: 12px;
	height: 22px;
  }

  .slick-prev:before, .slick-next:before {
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
	opacity: 0;
  }
  .slick-prev.slick-arrow {
	left: -25px;
	z-index: 100;
  }

  .block-text {
	margin-bottom: 100px;

	.step-for-one {

	  .slide-information {
		margin-top: 50px;
		margin-bottom: 0;

		.heading {
		  color: #616161;
		  font-family: $ANR;
		  font-size: 22px;
		  font-weight: 400;
		  text-align: left;
		  margin-bottom: 10px;
		}
		.description {
		  color: #808080;
		  font-family: $ANR;
		  font-size: 14px;
		  font-weight: 400;
		  text-align: left;
		  margin-bottom: 10px;
		  line-height: 20px;
		}
	  }
	  .list {

		li {
		  font-family: $ANR;
		  font-size: 14px;
		  font-weight: 400;
		  color: #808080;
		  text-align: left;
		  list-style: none;
		  position: relative;
		  padding-left: 25px;
		  line-height: 20px;
		  margin-bottom: 10px;

		  span {
			font-size: 14px;
			color: #616161;
			font-weight: normal;
			text-transform: uppercase;
		  }

		  &:before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 5px;
			left: 0;
			background: url("../img/checked.png") 0 0 no-repeat;
			width: 15px;
			height: 15px;
		  }

		}
	  }

	  #piechart {
		background-color: transparent;
		width: 400px;
		height: 300px;
	  }

	}

	.step-for-two {
	  width: 100%;

	  .rate-selection {
		margin-top: 40px;

		.rate {
		  display: inline-block;
		  max-width: 240px;
		  width: 100%;
		  height: auto;
		  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
		  background-color: #fff;
		  padding: 15px 10px 15px;
		  margin: 5px 5px 5px;
		  text-align: center;

		  .title {
			font-family: $ANR;
			font-size: 15px;
			font-weight: 400;
			position: relative;
			display: block;
			margin-bottom: 15px;
			color:#ee9476;

			&:before {
			  content: "";
			  display: block;
			  position: absolute;
			  top: 10px;
			  left: 60px;
			  background: url("../img/qwerty.png") 0 0 no-repeat;
			  width: 8px;
			  height: 8px;
			}
			&:after {
			  content: "";
			  display: block;
			  position: absolute;
			  top: 10px;
			  right: 60px;
			  background: url("../img/qwerty.png") 0 0 no-repeat;
			  width: 8px;
			  height: 8px;
			}

		  }

		  span {
			display: block;
			color: #616161;
			font-family: $ANR;
			font-size: 15px;
			font-weight: 400;
			margin-bottom: 15px;
		  }
		  button {
			width: 124px;
			height: 25px;
			border-radius: 12px;
			border: 1px solid #e6e6e6;
			background-color: #fff;
			font-family: $ANR;
			font-size: 14px;
			font-weight: 00;
			padding: 5px;
			line-height: 12px;
			position: relative;
			margin-bottom: 30px;
			color: #ee9476;

			&:before {
			  content: "";
			  display: block;
			  position: absolute;
			  border-top: 1px solid #e6e6e6;
			  top: 10px;
			  left: -30px;
			  width: 30px;
			}
			&:after {
			  content: "";
			  display: block;
			  position: absolute;
			  border-top: 1px solid #e6e6e6;
			  top: 10px;
			  right: -30px;
			  width: 30px;
			}
		  }

		  ul {
			margin-bottom: 25px;
			li {
			  color: #808080;
			  font-family: $ANR;
			  font-size: 14px;
			  font-weight: 400;
			  list-style: none;
			  position: relative;
			  padding-left: 25px;

			  &:before {
				content: "";
				display: inline-block;
				position: absolute;
				top: 5px;
				left: 0;
				background: url("../img/check.png") 0 0 no-repeat;
				width: 14px;
				height: 10px;
			  }
			}
		  }

		  .calc {
			display: inline-block;
			outline: none;
			margin-right: 10px;
			width: 100px;
			height: 24px;
			line-height: 23px;
			border-radius: 6px;
			color: #fff;
			font-family: $ANR;
			font-size: 12px;
			font-weight: 400;
			text-decoration: none;
			background-image: linear-gradient(to right, #f38b4c 0%, #ffaf67 100%);

			&:hover {
			  text-decoration: none;
			}
		  }
		  .selec {
			display: inline-block;
			outline: none;
			width: 100px;
			height: 24px;
			line-height: 23px;
			border-radius: 6px;
			color: #fff;
			font-family: $ANR;
			font-size: 12px;
			font-weight: 400;
			text-decoration: none;
			background-image: linear-gradient(to right, #f38b4c 0%, #ffaf67 100%);

			&:hover {
			  text-decoration: none;
			}
		  }
		}
		.select {
		  width: 240px;
		  height: auto;
		  border: 2px solid #f38b4c;
		  background-color: #fff;
		  position: relative;

		  &:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			border: 30px solid transparent;
			border-left: 30px solid #f38b4c;
			border-top: 30px solid #f38b4c;
		  }
		  &:after {
			content: "";
			display: block;
			position: absolute;
			top: 12px;
			left: 10px;
			background: url("../img/check-white.png") 0 0 no-repeat;
			width: 14px;
			height: 10px;
		  }
		}
	  }
	}

	.step-for-three {

	  .user-information {
		text-align: center;
		padding-top: 100px;

		figure {
		  margin: 0 auto;
		  img {
			margin: 0 auto 10px;
		  }
		}
		.description {
		  color: #808080;
		  font-family: $ANR;
		  font-size: 14px;
		  font-weight: 400;
		  margin-bottom: 25px;
		}
		.name {
		  color: #f38b4c;
		  font-family: $ANR;
		  font-size: 14px;
		  font-weight: 400;
		}
	  }

	  .user-data {
		padding-top: 100px;

		.block-1 {
		  display: inline-block;
		  text-align: center;

		  span {
			color: #616161;
			font-family: $ANR;
			font-size: 30px;
			font-weight: 400;
			display: block;
			text-align: center;
			line-height: 35px;
			margin-bottom: 40px;

			i {
			  color: #808080;
			  font-family: $ANR;
			  font-size: 15px;
			  font-weight: 400;
			  font-style: normal;
			}

		  }
		}
		.block-2 {
		  display: inline-block;
		  text-align: center;

		  span {
			color: #616161;
			font-family: $ANR;
			font-size: 30px;
			font-weight: 400;
			display: block;
			text-align: center;
			line-height: 35px;
			margin-bottom: 40px;

			i {
			  color: #808080;
			  font-family: $ANR;
			  font-size: 15px;
			  font-weight: 400;
			  font-style: normal;
			}

		  }
		}
	  }
	}
  }

  .block-step {
	text-align: center;
	width: 100%;
	max-width: 600px;
	margin: -50px auto 0;

	.slider-nav {

	  .step {
		display: block;
		color: #616161;
		font-family: $ANR;
		font-size: 15px;
		font-weight: 400;

		.top-line {
		  width: 200px;
		  height: 8px;
		  border-radius: 4px;
		  background-image: linear-gradient(to right, #ececec 100%, #ececec 100%);
		  margin-bottom: 10px;
		  @include transition(all 0.5s);
		}
		.active {
		  width: 200px;
		  height: 8px;
		  border-radius: 4px;
		  display: block;
		  background-image: linear-gradient(to right, #f38b4c 0%, #ffaf67 100%);
		}
	  }
	  .step:hover .top-line {
		width: 200px;
		height: 8px;
		border-radius: 4px;
		background-image: linear-gradient(to right, #f38b4c 0%, #ffaf67 100%);
		display: block;
	  }
	}
  }
}
//main-4

.main-4 {
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 25vh 0 5vh;
  background-color: #fff;

  .page-indicator{
	background-color: transparent;
	position: absolute;
	top: 40%;
	left: 0;

	.page{
	  opacity: 1;
	  font-family: $ANR;
	  font-size: 75px;
	  font-weight: 400;
	  display: inline-block;
	  vertical-align: middle;
	}
	.vertical{
	  width: 4px;
	  height: 58px;
	  opacity: 1;
	  display: inline-block;
	  vertical-align: middle;
	  margin-right: 10px;
	}
	sub{
	  opacity: 1;
	  font-family: "AlergiaNormalRegular", sans-serif;
	  font-size: 25px;
	  font-weight: 400;
	  bottom: -1em;
	}
  }

  .title {
	color: #616161;
	font-family: $ANR;
	font-size: 22px;
	line-height: 25px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 10px;
  }
  .description {
	color: #808080;
	font-family: $ANR;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 50px;
	padding: 0 80px;
  }
  .information{
	max-width: 265px;
	height: auto;
	padding: 10px 20px 5px;
	border-radius: 4px;
	border: 1px solid #e6e6e6;

	.heading{
	  color: #616161;
	  font-family: $ANR;
	  font-size: 16px;
	  font-weight: 400;
	}

	p{
	  color: #808080;
	  font-family: $ANR;
	  font-size: 11px;
	  font-weight: 400;
	}
  }

  .feadback{
	.title{
	  color: #616161;
	  font-family: $ANR;
	  font-size: 18px;
	  font-weight: 400;
	  text-align: left;
	}
  }

}

//section first

.first{
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 25vh 0 10vh;
  background-color: #fff;

  .left-block, .right-block{
	padding: 0 5vw 20vh;

	.heading{
	  color: #616161;
	  font-family: $ANR;
	  font-size: 18px;
	  font-weight: 400;
	  margin-bottom: 30px;
	}
	p{
	  color: #808080;
	  font-family: $ANR;
	  font-size: 14px;
	  font-weight: 400;
	  line-height: 18px;
	  margin-bottom: 30px;
	}
  }
  .vertical-line{
	content: "";
	background: url("../img/vert.png") 0 0 no-repeat;
	display: block;
	position: absolute;
	top: 15%;
	width: 33px;
	height: 415px;
  }

  .requisites{
	margin-bottom: 10vh;

	.description{
	  color: #808080;
	  font-family: $ANR;
	  font-size: 14px;
	  font-weight: 400;
	  line-height: 18px;
	}
	figure{
	  margin: 0 auto;

	  figcaption{
		span{
		  color: #808080;
		  font-family: $ANB;
		  font-size: 12px;
		  font-weight: 700;
		  line-height: 12px;
		}
	  }
	}
  }

  .brands{
	a{
	  text-decoration: none;
	  display: inline-block;
	  margin: 0 30px;
	  text-align: center;
	}
  }
}

.two{
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 10vh;

  .vertical-slider{
	margin: 5vh 0 0;
	height: auto;

	.slick-initialized .slick-slide {
	  display: block;
	  outline: none;
	  cursor: pointer;
	}
	.slick-prev, .slick-next {
	  position: absolute;
	  display: block;
	  width: 20px;
	  height: 20px;
	  padding: 0;
	}
	.slick-prev {
	  left: 46% !important;
	  right: auto;
	  top: 0!important;
	  margin-top: -30px!important;
	  transform: translate(0, -50%);
	}
	.slick-next {
	  right: 50%!important;
	  left: auto;
	  bottom: -50px!important;
	  top: auto;
	  transform: translate(0, -50%);
	}

	.slick-prev:before {
	  content: '';
	  display: block;
	  position: absolute;
	  background: url("../img/up-arrow.png") 0 0 no-repeat;
	  width: 20px;
	  height: 20px;
	}
	.slick-next:before{
	  content: '';
	  display: block;
	  position: absolute;
	  background: url("../img/down-arrow.png") 0 0 no-repeat;
	  width: 20px;
	  height: 20px;
	}

	.slick-prev:before, .slick-next:before {
	  font-family: 'slick';
	  font-size: 20px;
	  line-height: 1;
	  opacity: .75;
	  color: black;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}

	.slick-prev.slick-disabled:before,
	.slick-next.slick-disabled:before {
	  opacity: 0;
	}

	.slick-slide{
	  opacity: 1;
	}
	.slick-slide:first-child{
	  opacity: 0.3;
	}
	.slick-slide:last-child{
	  opacity: 0.3;
	}
	.slick-center{
	  opacity: 0.3;
	}
	.slick-dots {
	  width: 1px;
	  height: 275px;
	  border: 1px dashed #ee9576;
	  bottom: auto;
	  right: 0;
	  top: 0;
	  z-index: 100;
	}
	.slick-dots li {
	  margin: 35px -9px;
	  z-index: 200;
	}
	.slick-dots li button:before {
	  font-size: 12px;
	  opacity: .5;
	  color: #ee9576;
	  z-index: 200;
	}
	.slick-dots li.slick-active button:before {
	  opacity: 1;
	  color: #ee9576;

	}


	.rate{
	  width: 100%;
	  height: 160px;
	  margin-top: 15px;
	  margin-bottom: 15px;

	  figure{
		margin: 0 auto;

		img{
		  display: inline-block;
		  vertical-align: middle;
		  margin-right: 15px;
		}
		figcaption{
		  display: inline-block;
		  color: #808080;
		  font-family: $ANR;
		  font-size: 16px;
		  font-weight: 400;
		  line-height: 24px;
		  width: 80%;
		  vertical-align: middle;

		  .title{
			color: #616161;
			font-family: $ANB;
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 10px;
		  }
		}
	  }
	}
  }

  .level{
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 0;
  }

  .rate-description{
	padding: 0 5vw;

	.heading{
	  color: #616161;
	  font-family: $ANB;
	  font-size: 15px;
	  font-weight: 700;
	  margin-bottom: 15px;
	}
	.descr{
	  color: #808080;
	  font-family: $ANR;
	  font-size: 14px;
	  font-weight: 400;
	  line-height: 18px;
	  margin-bottom: 25px;
	  display: block;
	}
	.one-char, .two-char, .three-char{
	  display: inline-block;
	  width: 30%;
	  text-align: center;
	  position: relative;
	  color: #666;
	  font-size: 12px;
	  font-family: $ANB;
	  font-weight: 700;
	  margin-bottom: 30px;

	  span{
		color: #ea7a54;
	  }
	}
	.one-char:before{
	  content: "";
	  position: absolute;
	  right: 0;
	  display: inline-block;
	  width: 1px;
	  height: 50px;
	  background-color: #e6e6e6;
	  vertical-align: middle;
	}
	.two-char:before{
	  content: "";
	  position: absolute;
	  right: 0;
	  display: inline-block;
	  width: 1px;
	  height: 50px;
	  background-color: #e6e6e6;
	  vertical-align: middle;
	}
	.one-offer, .two-offer, .three-offer{
	  display: inline-block;
	  width: 30%;
	  text-align: center;
	  position: relative;
	  color: #666;
	  font-size: 12px;
	  font-family: $ANB;
	  font-weight: 700;
	  margin-bottom: 30px;

	  span{
		color: #666;
	  }
	}
	.one-offer:before{
	  content: "";
	  position: absolute;
	  right: 0;
	  display: inline-block;
	  width: 1px;
	  height: 50px;
	  background-color: #e6e6e6;
	  vertical-align: middle;
	}
	.two-offer:before{
	  content: "";
	  position: absolute;
	  right: 0;
	  display: inline-block;
	  width: 1px;
	  height: 50px;
	  background-color: #e6e6e6;
	  vertical-align: middle;
	}
	.btn-wrap{
	  width: 100%;
	  display: block;
	  text-align: right;
	  margin-bottom: 15vh;

	  .profit, .invest{
		background-image: linear-gradient(to right, #f38b4c 0%, #ffaf67 100%);
		line-height: 24px;
		height: 26px;
		max-width: 145px;
		font-family: $ANR;
		font-weight: 400;

		&:hover, &:focus{
		  text-decoration: none;
		  color: white;
		}
	  }
	  .invest{
		margin-left: 10px;
		max-width: 120px;
		margin-right: 30px;
	  }
	}

  }

  .other-block{

	.heading{
	  color: #616161;
	  font-family: $ANB;
	  font-size: 18px;
	  font-weight: 700;
	  margin-bottom: 50px;
	}
	a{
	  text-decoration: none;
	  display: inline-block;
	  margin: 0 20px 30px;
	  text-align: center;
	}
	p{
	  color: #808080;
	  font-family: $ANR;
	  font-size: 14px;
	  font-weight: 400;
	  line-height: 18px;
	}
  }
}

//news

.news{
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 20vh 0 10vh;
  background-color: #fff;

  .heading{
	color: #616161;
	font-family: $ANR;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 30px;
  }
  .tabs-left {
	border-right: 1px solid #ddd;
	margin-bottom: 50px;
  }
  .nav-tabs {
	li{
	  border-bottom: 1px solid #e6e6e6;
	  margin-right: 30px;
	  margin-left: 15px;

	  &:last-child{
		border-bottom: none;
	  }
	}
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
	color: #e06e3d;
	font-family: $ANR;
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
	border: none;
	margin-left: -20px;

	span{
	  color: #ee9576;
	  font-family: $ANR;
	  font-size: 11px;
	  font-weight: 700;
	  line-height: 24px;
	}
  }
  .nav-tabs > li > a,
  .nav-tabs > li > a:hover,
  .nav-tabs > li > a:focus {
	color: #808080;
	font-family: $ANR;
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
	border: none;
	margin-left: -20px;

	span{
	  color: #999999;
	  font-family: $ANR;
	  font-size: 11px;
	  font-weight: 700;
	  line-height: 24px;
	}
  }

  .nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
  }
  .tabs-left>li>a {
	border-radius: 0;
	margin-right: 0;
	display: block;
  }
  .tab-pane{
	padding: 4vw 0 0 5vw;
  }

  figure{
	margin: 0 auto 50px;
  }
  .title{
	color: #4d4d4d;
	font-family: $ANR;
	font-size: 21px;
	font-weight: 400;
	margin-bottom: 25px;
  }
  .text{
	max-width: 58vw;
	width: 100%;
	p{
	  color: #707070;
	  font-family: $ANR;
	  font-size: 15px;
	  font-weight: 400;
	  line-height: 20px;
	  margin-bottom: 20px;
	}
  }
  #calendar {
	width: 100%;
	font: $ANR;
	line-height: 1.2em;
	font-size: 15px;
	text-align: center;
  }
  #calendar thead tr:last-child {
	font-size: small;
	color: rgb(85, 85, 85);
  }
  #calendar thead tr:nth-child(1) td:nth-child(2) {
	color: rgb(50, 50, 50);
  }
  #calendar thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
	cursor: pointer;
  }
  #calendar tbody td {
	color: #808080;
	font-family: $ANR;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
  }
  #calendar tbody td:nth-child(n+6), #calendar2 .holiday {
	color: rgb(231, 140, 92);
  }
  #calendar tbody td.today {
	background-color: #ee9576;
	color: #fff;
  }
}

//tasks

.tasks{
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 20vh 0 18vh;
  background-color: #fff;


  .heading{
	color: #6e6e6e;
	font-family: $ANR;
	font-size: 21px;
	font-weight: 400;
	margin-bottom: 30px;
  }

  .description{
	color: #939393;
	font-family: $ANR;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 50px;
  }

  figure{
	margin: 0 auto;
	img{
	  margin-bottom: 10px;
	}
	figcaption{
	  margin-bottom: 7vh;
	  .title{
		color: #616161;
		font-family: $ANR;
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 10px;
	  }
	  p{
		color: #808080;
		font-family: $ANR;
		font-size: 12px;
		font-weight: 400;
	  }
	}
  }

  .line{
	width: 100%;
	height: 1px;
	background-color: #e6e6e6;
	margin: 0 auto 7vh;
  }
  figure{
	margin: 0 auto;
  }
  blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	border-left: none;
	color: #939393;
	font-family: $ANR;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
  }
  span{
	display: block;
	color: #808080;
	font-family: $ANB;
	font-size: 12px;
	font-weight: 700;
  }
}

//steps

.steps{
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-width: 1000px;
  margin: 0 auto;
  padding: 0 0 20vh;
  position: relative;
  background-color: #fff;

  .heading{
	color: #6e6e6e;
	font-family: $ANR;
	font-size: 21px;
	font-weight: 400;
	padding-left: 0;
	margin-bottom: 30px;
  }
  .description{
	color: #939393;
	font-family: $ANR;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	padding: 0 10vw 0 0;
	margin-bottom: 30px;
  }
  .step-by-step{
	.step-1{
	  position: relative;

	  .number{
		width: 40px;
		height: 40px;
		border-radius: 40px;
		border: 2px solid #ee9377;
		margin: 0 auto 10px;
		position: relative;

		span{
		  color: #ee9377;
		  font-family: $ANR;
		  font-size: 15px;
		  font-weight: 400;
		  display: block;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  -webkit-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		}
	  }
	  .number:before{
		content: "";
		display: block;
		position: absolute;
		background: url("../img/media.png") 100% 50% no-repeat;
		width: 188px;
		height: 12px;
		top: 38%;
		left: 240%;
		right: auto;
	  }
	  .title{
		color: #616161;
		font-family: $ANR;
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 10px;
	  }
	  p{
		color: #808080;
		font-family: $ANR;
		font-size: 12px;
		font-weight: 400;
		margin-bottom: 15px;
	  }
	  a{
		border-radius: 4px;
		border: 1px solid #e6e6e6;
		background-color: #fafafa;
		color: #808080;
		font-family: $ANR;
		font-size: 12px;
		font-weight: 400;
		text-decoration: none;
		padding: 3px 4px;
		&:hover{
		  text-decoration: none;
		}
	  }
	}

	.step-2{
	  position: relative;

	  .number{
		width: 40px;
		height: 40px;
		border-radius: 40px;
		border: 2px solid #ee9377;
		margin: 0 auto 10px;
		position: relative;

		span{
		  color: #ee9377;
		  font-family: $ANR;
		  font-size: 15px;
		  font-weight: 400;
		  display: block;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  -webkit-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		}
	  }
	  .number:before{
		content: "";
		display: block;
		position: absolute;
		background: url("../img/media.png") 100% 50% no-repeat;
		width: 188px;
		height: 12px;
		top: 38%;
		left: 240%;
		right: auto;
	  }
	  .title{
		color: #616161;
		font-family: $ANR;
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 10px;
	  }
	  p{
		color: #808080;
		font-family: $ANR;
		font-size: 12px;
		font-weight: 400;
		margin-bottom: 15px;
	  }
	  a{
		border-radius: 4px;
		border: 1px solid #e6e6e6;
		background-color: #fafafa;
		color: #808080;
		font-family: $ANR;
		font-size: 12px;
		font-weight: 400;
		text-decoration: none;
		padding: 3px 4px;
		&:hover{
		  text-decoration: none;
		}
	  }
	}

	.step-3{
	  position: relative;

	  .number{
		width: 40px;
		height: 40px;
		border-radius: 40px;
		border: 2px solid #ee9377;
		margin: 0 auto 10px;
		position: relative;

		span{
		  color: #ee9377;
		  font-family: $ANR;
		  font-size: 15px;
		  font-weight: 400;
		  display: block;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  -webkit-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
		}
	  }
	  .title{
		color: #616161;
		font-family: $ANR;
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 10px;
	  }
	  p{
		color: #808080;
		font-family: $ANR;
		font-size: 12px;
		font-weight: 400;
		margin-bottom: 15px;
	  }
	  a{
		border-radius: 4px;
		border: 1px solid #e6e6e6;
		background-color: #fafafa;
		color: #808080;
		font-family: $ANR;
		font-size: 12px;
		font-weight: 400;
		text-decoration: none;
		padding: 3px 4px;
		&:hover{
		  text-decoration: none;
		}
	  }
	}
  }
}

//schedule

.schedule{
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-width: 1000px;
  margin: 0 auto;
  padding: 0 0 10vh;
  position: relative;
  background-color: #fff;

  .heading{
	color: #6e6e6e;
	font-family: $ANR;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 15px;
  }
  .description{
	color: #939393;
	font-family: $ANR;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	display: block;
	padding-left: 10vh;
	padding-bottom: 10vh;
  }

  .day{
	max-width: 292px;
	height: auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	background-color: #ffffff;
	padding: 30px 40px;

	.period{
	  color: #616161;
	  font-family: $ANR;
	  font-size: 14px;
	  font-weight: 400;

	  &::after {
		content: "";
		margin: 5px auto 5px;
		display: block;
		width: 50px;
		border-bottom: 2px solid #ee9377;
	  }
	}
	span{
	  color: #808080;
	  font-family: $ANR;
	  font-size: 14px;
	  font-weight: 400;
	  display: block;
	  margin-bottom: 10px;
	}
	.title{
	  color: #616161;
	  font-family: $ANR;
	  font-size: 14px;
	  font-weight: 400;
	  margin-bottom: 5px;
	}
	p{
	  color: #808080;
	  font-family: $ANR;
	  font-size: 13px;
	  font-weight: 400;
	}
  }
}

//sign-webinar

.sign-webinar{
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-width: 1000px;
  margin: 0 auto;
  padding: 0 0 10vh;
  position: relative;
  background-color: #fff;

  .heading{
	color: #6e6e6e;
	font-family: $ANR;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 15px;
  }
  .description{
	color: #939393;
	font-family: $ANR;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 50px;
  }

  p{
	font-family: $ANR;
	font-weight: 400;
	line-height: 20px;
	color: #939393;
	font-size: 13px;

	a{
	  font-family: $ANB;
	  color: #ee9377;
	  font-size: 14px;
	  font-weight: 700;
	}
  }
}

//vacancies

.vacancies{
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-width: 1000px;
  margin: 0 auto;
  padding: 0 0 10vh;
  position: relative;
  background-color: #fff;

  .heading{
	color: #6e6e6e;
	font-family: $ANR;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 15px;
  }
  .description{
	color: #939393;
	font-family: $ANR;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 30px;
  }
}


//agreement

.agreement{
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 20vh 0 10vh;
  background-color: #fff;

  .tabs-left {
	margin-bottom: 50px;
	border-right: none;
  }
  .tabs-left {

  }

  .vert-line{
	width: 1px;
	height: 700px;
	background-color: #e6e6e6;
	position: absolute;
	right: 0;
	top: 10%;
  }
  .nav-tabs {
	li{
	  border-bottom: 1px solid #e6e6e6;
	  margin-right: 30px;
	  margin-left: 15px;

	  &:last-child{
		border-bottom: none;
	  }
	}
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
	color: #e06e3d;
	font-family: $ANR;
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
	border: none;
	margin-bottom: 15px;
	margin-top: 10px;
	margin-left: -20px;

  }
  .nav-tabs > li > a,
  .nav-tabs > li > a:hover,
  .nav-tabs > li > a:focus {
	color: #808080;
	font-family: $ANR;
	font-size: 16px;
	font-weight: 400;
	background-color: #fff;
	border: none;
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: -20px;
  }

  .nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
  }
  .tabs-left>li>a {
	border-radius: 0;
	margin-right: 0;
	display: block;
  }
  .tab-pane{
	padding: 1vw 0 0 3vw;
  }
  dl{
	dt{
	  color: #4d4d4d;
	  font-family: $ANR;
	  font-size: 21px;
	  font-weight: 700;
	  margin-bottom: 20px;
	}
	dd{
	  color: #707070;
	  font-family: $ANR;
	  font-size: 15px;
	  font-weight: 400;
	  line-height: 20px;
	  margin-bottom: 20px;
	}
  }

}

//faq

.faq{
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 20vh 0 10vh;
  background-color: #fff;

  .tabs-left {
	border-right: none;
	margin-bottom: 0;
  }
  .nav-tabs {
	li{
	  border-bottom: 1px solid #e6e6e6;
	  border-right:1px solid #e6e6e6;
	  margin-right: 0;
	  display: inline-block;
	  width: 24%;
	  text-align: center;
	  padding: 45px 0;
	}
	li:nth-child(4),
	li:nth-child(8),
	li:nth-child(12){
	  border-right:none;
	}
	li:nth-child(9),
	li:nth-child(10),
	li:nth-child(11),
	li:nth-child(12){
	  border-bottom: none;
	}
  }
  .nav-tabs > li.active {
	border: none;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
	background-image: linear-gradient(to right, #f38b4c 0%, #ffaf67 100%);
	margin-left: -2px;

	.title{
	  color: white;
	  font-family: $ANR;
	  font-size: 15px;
	  font-weight: 400;
	  display: block;

	  span{
		color: white;
		font-family: $ANR;
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
		display: block;
	  }
	}

  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
	border: none;
	background-color: transparent;

	.userpic{
	  background-image: url("../img/spritesheet.png");
	  background-repeat: no-repeat;
	  display: block;
	  width: 22px;
	  height: 30px;
	  background-position: -22px 0;
	  margin: 0 auto 10px;
	}

	.title{
	  color: white;
	  font-family: $ANR;
	  font-size: 15px;
	  font-weight: 400;
	  display: block;

	  span{
		color: white;
		font-family: $ANR;
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
		display: block;
	  }
	}

  }
  .nav-tabs > li > a,
  .nav-tabs > li > a:hover,
  .nav-tabs > li > a:focus {
	border-color: transparent;

	.userpic{
	  background-image: url("../img/spritesheet.png");
	  background-repeat: no-repeat;
	  display: block;
	  width: 22px;
	  height: 30px;
	  background-position: 0 0;
	  margin: 0 auto 10px;
	}

	.title{
	  color: #616161;
	  font-family: $ANR;
	  font-size: 15px;
	  font-weight: 400;
	  display: block;

	  span{
		color: #808080;
		font-family: $ANR;
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
		display: block;
	  }
	}
  }

  .nav > li > a:hover,
  .nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
  }
  .tabs-left>li>a {
	border-radius: 0;
	margin-right: 0;
	display: block;
  }
  .tabs-left>li, .tabs-right>li {
	float: none;
	margin-bottom: 0;
  }
  .tab-content{
	text-align: center;

	.tab-pane{
	  figure{
		margin: 5vh auto 5vh;
	  }
	}
  }
  .tab-content > .active {
	display: block;
	width: 750px;
	margin: 0 auto;
  }
}

//register

.register{
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 20vh 0 10vh;
  background-color: #fff;

  .heading{
	color: #6e6e6e;
	font-family: $ANR;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 15vh;
  }
  .left-block{
	border-right: 1px solid #e6e6e6;
	padding: 0 40px 0 0;

	p{
	  color: #808080;
	  font-family: $ANR;
	  font-size: 12px;
	  font-weight: 400;
	  margin-bottom: 20px;
	}
  }
  form{

	.title{
	  color: #6e6e6e;
	  font-family: $ANR;
	  font-size: 15px;
	  font-weight: 400;
	  margin-bottom: 30px;
	}

	input[type="checkbox"] {
	  display: none;
	}
	input[type="checkbox"] + label {
	  cursor: pointer;
	  padding-left: 0;
	  margin-bottom: 50px;
	  font-family: $ANR;
	  font-size: 12px;
	  font-weight: 400;
	  color: #808080;

	  a{
		font-family: $ANB;
		color: #ee9377;
		font-weight: 700;
	  }
	}
	input[type="checkbox"] + label::before {
	  content: "";
	  display: inline-block;
	  vertical-align: middle;
	  height: 22px;
	  width: 22px;
	  margin: 0 10px 0 0;
	  background: url("../img/sprite-check.png");
	}
	input[type="checkbox"]:checked + label::before {
	  background-position: -22px 0;
	}
  }
  .right-block{
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align: center;

	.step{
	  margin: 0 15px;
	  width: 27px;
	  height: 27px;
	  border: 2px solid transparent;
	  border-radius: 50%;
	  position: relative;
	  display: inline-block;
	  text-decoration: none;

	  &:hover{
		text-decoration: none;
	  }

	  span{
		color: #999999;
		font-family: $ANR;
		font-size: 14px;
		font-weight: 400;
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);

	  }
	}

	.active{
	  margin: 0 15px;
	  width: 27px;
	  height: 27px;
	  border: 2px solid #ee9576;
	  border-radius: 50%;
	  position: relative;
	  display: inline-block;

	  span{
		color: #ee9576;
		font-family: $ANR;
		font-size: 14px;
		font-weight: 400;
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	  }
	}

	.line-mini{
	  width: 40px;
	  height: 2px;
	  background-color: #e6e6e6;
	  display: block;
	  margin: 30px auto 40px;
	}
	figure{
	  margin: 0 10vh 0;

	  img{
		margin-bottom: 15px;
	  }
	  .title{
		color: #6e6e6e;
		font-family: $ANR;
		font-size: 15px;
		font-weight: 400;
		margin-bottom: 10px;
	  }
	  p{
		color: #a6a6a6;
		font-family: $ANR;
		font-size: 12px;
		font-weight: 400;
	  }
	}
  }

}

//ok-register

.ok-register{
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 30vh 0 10vh;
  background-color: #fff;

  figure{
	margin: 0 auto 5vh;
	text-align: center;

	img{
	  margin-bottom: 30px;
	  width: 60px;
	}

	figcaption{
	  color: #808080;
	  font-family: $ANR;
	  font-size: 18px;
	  font-weight: 400;
	}
  }
}

//sign-in

.sign-in{
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 20vh 0 5vh;
  background-color: #fff;

  .heading{
	color: #6e6e6e;
	font-family: $ANR;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 30px;
  }
  .description{
	color: #939393;
	font-family: $ANR;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 30px;
  }
}

//footer

.footer{
  width: 100%;
  max-width: 1920px;
  min-width: 1000px;
  height: 135px;
  margin: -135px auto;
  position: relative;
  padding: 10px 0 5px;

  .social-group-footer{
	width: 100%;
	margin: 0 auto;
	.icons{
	  background-image: url('../img/icon-sprites.png');
	  background-repeat: no-repeat;
	  display: inline-block;
	  z-index: 100;
	  margin-bottom: 10px;
	  margin-right: 15px;
	  width: 34px;
	  height: 34px;
	  border-radius: 50%;
	}
	.vk{
	  background-position: 0 -204px;

	  &:hover{
		background-position: 0 -238px;
	  }
	}
	.fb{
	  background-position: 0 0;

	  &:hover{
		background-position: 0 -34px;
	  }
	}
	.in{
	  background-position: 0 -68px;

	  &:hover{
		background-position: 0 -102px;
	  }
	}
	.tel{
	  background-position: 0 -136px;

	  &:hover{
		background-position: 0 -170px;
	  }
	}
  }
  .copyright{
	span{
	  display: block;
	  color: #fff;
	  font-family: $ANR;
	  font-size: 13px;
	  font-weight: 400;
	  line-height: 20px;
	  margin-bottom: 0;
	  letter-spacing: 1.1px;
	}
  }
}