//slider

.slider{
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;

  .carousel > ol.carousel-indicators {
	display: none;
  }

  .img-responsive, .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
	height: auto;
	position: relative;
  }

  .carousel-caption {
	margin: auto;
	position: absolute;
	top: 15%;
	left: 45%;
	-webkit-transform: translate(-40%, 25%);
	transform: translate(-40%, 25%);
	padding-bottom: 0;
	right: auto;

	.title{
	  color: #fff;
	  font-family: $ANB;
	  font-size: 28px;
	  font-weight: 700;
	  margin-bottom: 30px;
	}
	.description{
	  color: #fff;
	  font-family: $ANR;
	  font-size: 16px;
	  line-height: 20px;
	  font-weight: 400;
	  padding: 0 21px;
	  text-align: center;
	}
  }

  .carousel-fade .carousel-inner .item {
	-webkit-transition-property: opacity;
	transition-property: opacity;
  }
  .carousel-fade .carousel-inner .item,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
	opacity: 0;
  }
  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
  }
  .carousel-fade .carousel-inner .next,
  .carousel-fade .carousel-inner .prev,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-control {
	z-index: 2;
	display: none;
  }
  .page-indicator{
	background-color: transparent;
	position: absolute;
	top: 40%;
	left: 0;
  }

}

//header

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1920px;
  min-width: 1000px;
  background-color: transparent;
  display: block!important;
  z-index: 1045;

  .navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	margin-right: 7%;
	margin-left: 7%;
  }

  .navbar-default {
	background-color: transparent;
	border-color: transparent;
	border-bottom: 1px solid white;
	height: 78px;
	position: relative;
	display: block;
  }

  .navbar-brand {
	float: left;
	height: auto;
	padding: 26px 15px;
	color: transparent;
	margin-right: 60px;
  }

  .navbar-nav {
	padding-top: 0;
  }

  .navbar-right {
	float: right !important;
	margin-right: 0;
  }

  .navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 17px;
	font-weight: 400;
	cursor: pointer;
	font-family: $ANR;
	line-height: 28px;

  }

  .nav {
	li {
	  a {
		padding: 23px 0 0;
		margin: 0 20px 0;
		border-bottom: 2px solid transparent;
		@include transition(all .6s);

		&:hover{
		  border-bottom: 2px solid white;
		}
	  }
	}
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
	color: white;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background-color: transparent;
  }

  .container-fluid > .navbar-header{
	margin-right: 0;
	margin-left: -15px;
  }

  .navbar-default .navbar-form {
	border-color: transparent;
	padding: 0;
  }
  .navbar-default .navbar-form.navbar-right {
	position: absolute;
	top: 12px;
	right: 0;


	.registr{
	  color: #6e6e6e;
	  font-family: $ANR;
	  font-size: 17px;
	  line-height: 26px;
	  font-weight: 400;
	  text-decoration: none;
	  width: 150px;
	  height: 32px;
	  border-radius: 10px;
	  background-color: #fff;
	  text-align: center;
	  display: inline-block;
	  border: 2px solid transparent;
	  @include transition(all 0.5s);

	  &:hover{
		color: #fff;
		border: 2px solid white;
		background-color: transparent;
	  }
	}

	.login{
	  color: #fff;
	  font-family: $ANR;
	  font-size: 17px;
	  line-height: 26px;
	  font-weight: 400;
	  text-decoration: none;
	  width: 80px;
	  height: 32px;
	  border-radius: 10px;
	  border: 2px solid #fff;
	  display: inline-block;
	  text-align: center;
	  @include transition(all 0.5s);

	  &:hover{
		color: #6e6e6e;
		border: 2px solid transparent;
		background-color: #fff;
	  }
	}
  }

}

.header-inner{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1920px;
  min-width: 1000px;
  display: block!important;
  z-index: 1045;
  opacity: 0.98;
  filter: alpha(Opacity=98);
  height: auto;

  .navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	margin-right: 7%;
	margin-left: 7%;
  }

  .navbar-default {
	background-color: transparent;
	border-color: transparent;
	border-bottom: none;
	height: 78px;
	position: relative;
	display: block;
  }

  .navbar-brand {
	float: left;
	height: auto;
	padding: 26px 15px;
	color: transparent;
	margin-right: 60px;
  }

  .navbar-nav {
	padding-top: 0;
  }

  .navbar-right {
	float: right !important;
	margin-right: 0;
  }

  .navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
	font-family: $ANR;
	line-height: 28px;

  }

  .nav {
	li {
	  a {
		padding: 23px 0 0;
		margin: 0 20px 0;
		border-bottom: 2px solid transparent;
		@include transition(all .6s);

		&:hover{
		  border-bottom: 2px solid white;
		}
	  }
	}
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
	color: white;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background-color: transparent;
  }

  .container-fluid > .navbar-header{
	margin-right: 0;
	margin-left: -15px;
  }

  .navbar-default .navbar-form {
	border-color: transparent;
	padding: 0;
  }
  .navbar-default .navbar-form.navbar-right {
	position: absolute;
	top: 12px;
	right: 0;


	.registr{
	  color: #6e6e6e;
	  font-family: $ANR;
	  font-size: 17px;
	  line-height: 26px;
	  font-weight: 400;
	  text-decoration: none;
	  width: 150px;
	  height: 32px;
	  border-radius: 10px;
	  background-color: #fff;
	  text-align: center;
	  display: inline-block;
	  border: 2px solid transparent;
	  @include transition(all 0.5s);

	  &:hover{
		color: #fff;
		border: 2px solid white;
		background-color: transparent;
	  }
	}

	.login{
	  color: #fff;
	  font-family: $ANR;
	  font-size: 17px;
	  line-height: 26px;
	  font-weight: 400;
	  text-decoration: none;
	  width: 80px;
	  height: 32px;
	  border-radius: 10px;
	  border: 2px solid #fff;
	  display: inline-block;
	  text-align: center;
	  @include transition(all 0.5s);

	  &:hover{
		color: #6e6e6e;
		border: 2px solid transparent;
		background-color: #fff;
	  }
	}
  }

}

.header.fixed{
  opacity: 0.98;
  filter: alpha(Opacity=98);
  z-index: 1099;
  height: auto;
  width: 100%;

  .navbar-default {
	border-bottom: none;
  }

}

//left-menu (page indicator)

.menu{
  width: 100%;
  max-width: 400px;
  height: auto;
  background-color: white;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -10%);
  transform: translate(0%, -10%);
  z-index: 1045;
  text-align: center;
  padding: 0;
  display: none;
  opacity: 0;
  color: #b6b6b6;


  ul > li > a{
	color: #6e6e6e;
	font-family: $ANR;
	font-size: 100px;
	font-weight: 400;
	text-decoration: none;
	padding: 0 14px;
	display: inline-block;
	vertical-align: middle;
	@include transition(all 0.5s);

	span{
	  color: #6e6e6e;
	  font-family: $ANR;
	  font-size: 20px;
	  font-weight: 400;
	  display: block;
	  margin-top: -25px;
	}
  }
  .menu-list li:hover a,
  .menu-list li:hover span{
	color: #e9a46c;
  }

  ul > li > a.active{
	color: #e9a46c;
	font-family: $ANR;
	font-size: 100px;
	font-weight: 400;
	span{
	  color: #e9a46c;
	}
  }

  ul{
	li{
	  .vert{
		width: 5px;
		height: 88px;
		background-color: #ebebeb;
		display: inline-block;
		vertical-align: middle;
	  }
	}
  }
}

//calculator

#calculator{
  width: 100%;
  height: auto;
  max-width: 844px;
  border-radius: 8px;
  background-color: #fff;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
  transform: translate(-50%, -10%);
  z-index: 1045;
  text-align: center;
  padding: 40px 60px;
  display: none;
  opacity: 0;
  color: #b6b6b6;

  .close{
	position: absolute;
	top: 10px;
	right: 20px;
	background-color: transparent;
	cursor: pointer;
  }

  .title{
	color: #616161;
	font-family: $ANB;
	font-size: 24px;
	font-weight: 700;
  }
  .title-slider{
	color: #616161;
	font-family: $ANB;
	font-size: 16px;
	font-weight: 700;
	display: block;
	text-align: left;
	padding-left: 80px;
  }
  .irs {
	height: 55px;
	max-width: 480px;
	width: 100%;
	margin-right: 30px;
	display: inline-block;
	margin-bottom: 50px;
  }
  .irs-bar {
	height: 10px;
	top: 37px;
	border-top: 1px solid #ee9377;
	border-bottom: 1px solid #ee9377;
	background: #ee9377;
	background: linear-gradient(to right, #ee9377 0%, #e8a66b 100%);
  }
  .irs-bar-edge {
	height: 10px;
	top: 37px;
	width: 14px;
	border: 1px solid #ee9377;
	border-right: 0;
	background: #ee9377;
	background: linear-gradient(to right, #ee9377 0%, #e8a66b 100%);
	border-radius: 16px 0 0 16px;
	-moz-border-radius: 16px 0 0 16px;
  }
  .irs-min, .irs-max {
	color: #b3b3b3;
	background: transparent;
  }
  .irs-from, .irs-to, .irs-single {
	color: #fff;
	font-size: 14px;
	line-height: 1.333;
	text-shadow: none;
	padding: 1px 5px;
	background: #ee9377;
	border-radius: 3px;
	-moz-border-radius: 3px;
  }
  .profit{
	width: 204px;
	height: 41px;
	border-radius: 6px;
	border: 1px solid #e6e6e6;
	display: inline-block;
	vertical-align: middle;
	color: #616161;
	font-family: $ANB;
	font-size: 16px;
	font-weight: 700;
	text-align: center;

	@include placeholder($color: #616161);
  }
  .calculation-of-profits{
	width: 100%;
	border-top:1px solid #e6e6e6;
	padding: 20px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #e6e6e6;

	.day-profit,
	.month-profit,
	.half-year-profit{
	  display: inline-block;
	  width: 30%;

	  span{
		color: #616161;
		font-family: $ANB;
		font-size: 16px;
		font-weight: 700;
		display: block;
		margin-bottom: 25px;
	  }
	}
	.month-profit,
	.day-profit{
	  border-right: 1px solid #e6e6e6;
	}
  }

  .send{
	width: 150px;
	height: 32px;
	border-radius: 6px;
	color: #fff;
	font-family: $ANB;
	font-size: 16px;
	font-weight: 700;
  }
}

//overlay

.overlay {
  z-index: 100;
  position: fixed;
  background-color: #000;
  opacity: 0.52;
  -moz-opacity: 0.52;
  filter: alpha(opacity=52);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
.overlay2 {
  z-index: 100;
  position: fixed;
  background-color: #000;
  opacity: 0.52;
  -moz-opacity: 0.52;
  filter: alpha(opacity=52);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}



//social-group

.social-group{
  position: absolute;
  top: 40%;
  right: 5%;
  -webkit-transform: translate(-5%, -10%);
  transform: translate(-5%, -10%);
  z-index: 100;

  .icons{
	background-image: url('../img/icon-sprites.png');
	background-repeat: no-repeat;
	display: block;
	z-index: 100;
	margin-bottom: 15px;
	width: 34px;
	height: 34px;
	border-radius: 50%;
  }
  .vk{
	background-position: 0 -204px;

	&:hover{
	  background-position: 0 -238px;
	}
  }
  .fb{
	background-position: 0 0;

	&:hover{
	  background-position: 0 -34px;
	}
  }
  .in{
	background-position: 0 -68px;

	&:hover{
	  background-position: 0 -102px;
	}
  }
  .tel{
	background-position: 0 -136px;

	&:hover{
	  background-position: 0 -170px;
	}
  }
}

.vertical-line{
  width: 2px;
  height: 36px;
  border: 2px solid #fff;
  opacity: 0.6;
  position: absolute;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translate(-50%, -1%);
  transform: translate(-50%, -1%);
}

//main-2

.main-2{
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 19vh 0 10vh;
  background-color: #fff;

  .page-indicator{
	background-color: transparent;
	position: absolute;
	top: 40%;
	left: 0;

	.page{
	  opacity: 1;
	  font-family: $ANR;
	  font-size: 125px;
	  font-weight: 400;
	  display: inline-block;
	  vertical-align: middle;
	}
	.vertical{
	  width: 5px;
	  height: 88px;
	  opacity: 1;
	  display: inline-block;
	  vertical-align: middle;
	  margin-right: 20px;
	}
	sub{
	  opacity: 1;
	  font-family: $ANR;
	  font-size: 30px;
	  font-weight: 400;
	  bottom: -1.25em;
	}
  }

  .slick-slider {
	text-align: center;
  }
  .slick-initialized .slick-slide {
	display: block;
	outline: none;
	cursor: pointer;
  }

  .slick-prev:before {
	content: '';
	display: block;
	position: absolute;
	background: url("../img/left-arrow.png") 0 0 no-repeat;
	width: 12px;
	height: 22px;
  }
  .slick-next:before{
	content: '';
	display: block;
	position: absolute;
	background: url("../img/right-arrow.png") 0 0 no-repeat;
	width: 12px;
	height: 22px;
  }

  .slick-prev:before, .slick-next:before {
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
	opacity: 0;
  }

  .block-text{
	margin-bottom: 30px;

	.step-for-one{
	  margin-top: 15vh;

	  .title{
		color: #616161;
		font-family:$ANB;
		font-size: 24px;
		line-height: 25px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 10px;
	  }
	  .description{
		color: #808080;
		font-family: $ANR;
		font-size: 15px;
		line-height: 18px;
		font-weight: 400;
		text-align: center;
		margin: 0 auto 30px;
		width: 39vw;
	  }
	}

	.step-for-two{
	  width: 100%;

	  .title{
		font-size: 22px;
		margin-bottom: 5px;
		font-weight: 700;
		margin-top: 11vh;
	  }

	  .description{
		margin-bottom: 40px;
		font-size: 15px;
		font-weight: 400;
		font-family: $ANR;
	  }

	  figure{
		margin: 0 20px;
		display: inline-block;

		img{
		  margin: 0 auto 10px;
		}

		figcaption{
		  max-width: 240px;
		  width: 100%;

		  .heading{
			color: #616161;
			font-family: $ANB;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
		  }
		  span{
			color: #808080;
			font-family: $ANR;
			font-size: 14px;
			font-weight: 400;
			display: block;
		  }
		}
	  }
	}

	.step-for-three{
	  .task-mini{
		margin-top: 20px;
		margin-bottom: 0;

		figure{
		  margin: 5px auto 30px;
		  display: inline-block;
		  opacity: 0.5;

		  img{
			margin: 0 auto 10px;
		  }

		  figcaption{
			max-width: 179px;
			width: 100%;

			.heading{
			  color: #616161;
			  font-family: $ANB;
			  font-size: 14px;
			  font-weight: 700;
			  text-align: center;
			  margin-bottom: 5px;
			}
			span{
			  color: #808080;
			  font-family: $ANR;
			  font-size: 12px;
			  line-height: 15px;
			  font-weight: 400;
			  display: block;
			}
		  }
		}

		.select{
		  width: 179px;
		  height: auto;
		  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
		  border-radius: 6px;
		  background-color: transparent;
		  padding: 10px 0;
		  opacity: 1;
		}
	  }

	  .title{
		font-size: 25px;
		font-weight: 700;
		line-height: 36px;
	  }
	  .text{
		color: #808080;
		font-family: $ANR;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		width: 42vw;
		margin: 0 auto 30px;
	  }

	}
  }

  .block-step{
	text-align: center;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;

	.slider-nav{
	  .step{
		display: block;
		color: #616161;
		font-family: $ANB;
		font-size: 15px;
		font-weight: 700;

		.top-line{
		  width: 200px;
		  height: 8px;
		  border-radius: 4px;
		  background-image: linear-gradient(to right, #ececec 100%, #ececec 100%);
		  margin-bottom: 10px;
		  @include transition(all 0.5s);
		}
		.active{
		  width: 200px;
		  height: 8px;
		  border-radius: 4px;
		  display: block;
		}

	  }
	  .step:hover .top-line{
		width: 200px;
		height: 8px;
		border-radius: 4px;
		background-image: linear-gradient(to right, #ffa083 0%, #f4b073 100%);
		display: block;
	  }
	}
  }
}

//main-3

.main-3 {
  width: 100vw;
  min-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  padding: 20vh 0 10vh;
  background-color: #fff;

  .page-indicator {
	background-color: transparent;
	position: absolute;
	top: 40%;
	left: 0;

	.page {
	  opacity: 1;
	  font-family: $ANR;
	  font-size: 125px;
	  font-weight: 400;
	  display: inline-block;
	  vertical-align: middle;
	}
	.vertical {
	  width: 5px;
	  height: 88px;
	  opacity: 1;
	  display: inline-block;
	  vertical-align: middle;
	  margin-right: 20px;
	}
	sub {
	  opacity: 1;
	  font-family: $ANR;
	  font-size: 30px;
	  font-weight: 400;
	  bottom: -1.25em;
	}
  }

  .slick-slider {
	text-align: center;
  }
  .slick-initialized .slick-slide {
	display: block;
	outline: none;
	cursor: pointer;
  }
  .slick-prev:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	background: url("../img/left-arrow.png") 0 0 no-repeat;
	width: 12px;
	height: 22px;
  }
  .slick-next:before {
	content: '';
	display: block;
	position: absolute;
	background: url("../img/right-arrow.png") 0 0 no-repeat;
	width: 12px;
	height: 22px;
  }

  .slick-prev:before, .slick-next:before {
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
	opacity: 0;
  }
  .slick-prev.slick-arrow {
	left: -25px;
	z-index: 100;
  }

  .block-text {
	margin-bottom: 100px;

	.step-for-one {

	  .slide-information {
		margin-top: 50px;
		margin-bottom: 40px;

		.heading {
		  color: #616161;
		  font-family: $ANB;
		  font-size: 21px;
		  font-weight: 700;
		  text-align: left;
		  margin-bottom: 10px;
		}
		.description {
		  color: #808080;
		  font-family: $ANR;
		  font-size: 15px;
		  font-weight: 400;
		  text-align: left;
		  margin-bottom: 10px;
		  line-height: 20px;
		}
	  }
	  .list {

		li {
		  font-family: $ANR;
		  font-size: 15px;
		  font-weight: 400;
		  color: #808080;
		  text-align: left;
		  list-style: none;
		  position: relative;
		  padding-left: 25px;
		  line-height: 20px;
		  margin-bottom: 10px;

		  span {
			color: #616161;
			font-weight: bold;
			text-transform: uppercase;
		  }

		  &:before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 5px;
			left: 0;
			background: url("../img/checked.png") 0 0 no-repeat;
			width: 15px;
			height: 15px;
		  }

		}
	  }

	  #piechart {
		background-color: transparent;
		width: 400px;
		height: 300px;
	  }

	}

	.step-for-two {
	  width: 100%;

	  .rate-selection {
		margin-top: 40px;

		.rate {
		  display: inline-block;
		  max-width: 240px;
		  width: 100%;
		  height: auto;
		  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
		  background-color: #fff;
		  padding: 15px 10px 15px;
		  margin: 5px 5px 5px;
		  text-align: center;

		  .title {
			font-family: $ANB;
			font-size: 15px;
			font-weight: 700;
			position: relative;
			display: block;
			margin-bottom: 15px;

			&:before {
			  content: "";
			  display: block;
			  position: absolute;
			  top: 10px;
			  left: 60px;
			  background: url("../img/qwerty.png") 0 0 no-repeat;
			  width: 8px;
			  height: 8px;
			}
			&:after {
			  content: "";
			  display: block;
			  position: absolute;
			  top: 10px;
			  right: 60px;
			  background: url("../img/qwerty.png") 0 0 no-repeat;
			  width: 8px;
			  height: 8px;
			}

		  }

		  span {
			display: block;
			color: #616161;
			font-family: $ANR;
			font-size: 15px;
			font-weight: 400;
			margin-bottom: 15px;
		  }
		  button {
			width: 124px;
			height: 25px;
			border-radius: 12px;
			border: 1px solid #e6e6e6;
			background-color: #fff;
			font-family: $ANB;
			font-size: 14px;
			font-weight: 700;
			padding: 5px;
			line-height: 12px;
			position: relative;
			margin-bottom: 30px;
			&:before {
			  content: "";
			  display: block;
			  position: absolute;
			  border-top: 1px solid #e6e6e6;
			  top: 10px;
			  left: -30px;
			  width: 30px;
			}
			&:after {
			  content: "";
			  display: block;
			  position: absolute;
			  border-top: 1px solid #e6e6e6;
			  top: 10px;
			  right: -30px;
			  width: 30px;
			}
		  }

		  ul {
			margin-bottom: 25px;
			li {
			  color: #808080;
			  font-family: $ANR;
			  font-size: 14px;
			  font-weight: 400;
			  list-style: none;
			  position: relative;
			  padding-left: 25px;

			  &:before {
				content: "";
				display: inline-block;
				position: absolute;
				top: 5px;
				left: 0;
				background: url("../img/check.png") 0 0 no-repeat;
				width: 14px;
				height: 10px;
			  }
			}
		  }

		  .calc {
			display: inline-block;
			width: 105px;
			height: 26px;
			line-height: 26px;
			border-radius: 6px;
			color: #fff;
			font-family: $ANB;
			font-size: 13px;
			font-weight: 700;
			text-decoration: none;

			&:hover {
			  text-decoration: none;
			}
		  }
		  .selec {
			display: inline-block;
			width: 105px;
			height: 26px;
			line-height: 26px;
			border-radius: 6px;
			color: #fff;
			font-family: $ANB;
			font-size: 13px;
			font-weight: 700;
			text-decoration: none;

			&:hover {
			  text-decoration: none;
			}
		  }
		}
		.select {
		  width: 240px;
		  height: auto;
		  border: 2px solid #ee9377;
		  background-color: #fff;
		  position: relative;

		  &:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			border: 30px solid transparent;
			border-left: 30px solid #ed9774;
			border-top: 30px solid #ed9774;
		  }
		  &:after {
			content: "";
			display: block;
			position: absolute;
			top: 12px;
			left: 10px;
			background: url("../img/check-white.png") 0 0 no-repeat;
			width: 14px;
			height: 10px;
		  }
		}
	  }
	}

	.step-for-three {

	  .user-information {
		text-align: center;
		padding-top: 50px;

		figure {
		  margin: 0 auto;
		  img {
			margin: 0 auto 10px;
		  }
		}
		.description {
		  color: #808080;
		  font-family: $ANR;
		  font-size: 14px;
		  font-weight: 400;
		  margin-bottom: 25px;
		}
		.name {
		  color: #ec8d70;
		  font-family: $ANR;
		  font-size: 14px;
		  font-weight: 400;
		}
	  }

	  .user-data {
		padding-top: 50px;

		.block-1 {
		  display: inline-block;
		  text-align: center;

		  span {
			color: #616161;
			font-family: $ANB;
			font-size: 30px;
			font-weight: 700;
			display: block;
			text-align: center;
			line-height: 35px;
			margin-bottom: 40px;

			i {
			  color: #808080;
			  font-family: $ANR;
			  font-size: 15px;
			  font-weight: 400;
			  font-style: normal;
			}

		  }
		}
		.block-2 {
		  display: inline-block;
		  text-align: center;

		  span {
			color: #616161;
			font-family: $ANB;
			font-size: 30px;
			font-weight: 700;
			display: block;
			text-align: center;
			line-height: 35px;
			margin-bottom: 40px;

			i {
			  color: #808080;
			  font-family: $ANR;
			  font-size: 15px;
			  font-weight: 400;
			  font-style: normal;
			}

		  }
		}
	  }
	}
  }

  .block-step {
	text-align: center;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;

	.slider-nav {

	  .step {
		display: block;
		color: #616161;
		font-family: $ANB;
		font-size: 15px;
		font-weight: 700;

		.top-line {
		  width: 200px;
		  height: 8px;
		  border-radius: 4px;
		  background-image: linear-gradient(to right, #ececec 100%, #ececec 100%);
		  margin-bottom: 10px;
		  @include transition(all 0.5s);
		}
		.active {
		  width: 200px;
		  height: 8px;
		  border-radius: 4px;
		  display: block;
		}
		.orange{
		  width: 200px;
		  height: 8px;
		  border-radius: 4px;
		  background-image: linear-gradient(to right, #ffa083 0%, #f4b073 100%);
		  display: block;
		}

	  }
	  .step:hover .top-line {
		width: 200px;
		height: 8px;
		border-radius: 4px;
		background-image: linear-gradient(to right, #ffa083 0%, #f4b073 100%);
		display: block;
	  }
	}
  }
}
//main-4

.main-4 {
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 19vh 0 5vh;
  background-color: #fff;

  .page-indicator {
	background-color: transparent;
	position: absolute;
	top: 40%;
	left: 0;

	.page {
	  opacity: 1;
	  font-family: $ANR;
	  font-size: 125px;
	  font-weight: 400;
	  display: inline-block;
	  vertical-align: middle;
	}
	.vertical {
	  width: 5px;
	  height: 88px;
	  opacity: 1;
	  display: inline-block;
	  vertical-align: middle;
	  margin-right: 20px;
	}
	sub {
	  opacity: 1;
	  font-family: $ANR;
	  font-size: 30px;
	  font-weight: 400;
	  bottom: -1.25em;
	}
  }

  .title {
	color: #616161;
	font-family: $ANB;
	font-size: 21px;
	line-height: 25px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 15px;
  }
  .description {
	color: #808080;
	font-family: $ANR;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 50px;
	padding: 0 80px;
  }
  .information{
	max-width: 265px;
	height: auto;
	border: 1px solid #616161;
	padding: 5px 10px;

	.heading{
	  color: #616161;
	  font-family: $ANB;
	  font-size: 18px;
	  font-weight: 700;
	}

	p{
	  color: #808080;
	  font-family: $ANR;
	  font-size: 12px;
	  font-weight: 400;
	}
  }

  .feadback{
	.title{
	  color: #616161;
	  font-family: $ANB;
	  font-size: 18px;
	  font-weight: 700;
	  text-align: left;
	}
  }

}

//section first

.first{
  width: 100%;
  max-width: 1920px;
  height: auto;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 220px 0 40px;
  background-color: #fff;






}

//footer

.footer{
  width: 100%;
  max-width: 1920px;
  min-width: 1000px;
  height: 135px;
  margin: -135px auto;
  position: relative;
  padding: 10px 0 5px;

  .social-group-footer{
	width: 100%;
	margin: 0 auto;
	.icons{
	  background-image: url('../img/icon-sprites.png');
	  background-repeat: no-repeat;
	  display: inline-block;
	  z-index: 100;
	  margin-bottom: 15px;
	  width: 34px;
	  height: 34px;
	  border-radius: 50%;
	}
	.vk{
	  background-position: 0 -204px;

	  &:hover{
		background-position: 0 -238px;
	  }
	}
	.fb{
	  background-position: 0 0;

	  &:hover{
		background-position: 0 -34px;
	  }
	}
	.in{
	  background-position: 0 -68px;

	  &:hover{
		background-position: 0 -102px;
	  }
	}
	.tel{
	  background-position: 0 -136px;

	  &:hover{
		background-position: 0 -170px;
	  }
	}
  }
  .copyright{
	span{
	  display: block;
	  color: #fff;
	  font-family: $ANR;
	  font-size: 14px;
	  font-weight: 400;
	  line-height: 18px;
	  margin-bottom: 0;
	}
  }
}