//slider

.slider{
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;

  .carousel > ol.carousel-indicators {
	display: none;
  }

  .img-responsive, .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
	height: auto;
	position: relative;
  }

  .carousel-caption {
	margin: auto;
	position: absolute;
	top: 15%;
	left: 45%;
	-webkit-transform: translate(-40%, 15%);
	transform: translate(-40%, 15%);
	padding-bottom: 0;
	right: auto;

	.title{
	  color: #fff;
	  font-family: $ANB;
	  font-size: 36px;
	  font-weight: 700;
	  margin-bottom: 50px;
	}
	.description{
	  color: #fff;
	  font-family: $ANB;
	  font-size: 20px;
	  line-height: 28px;
	  font-weight: 700;
	}
  }

  .carousel-fade .carousel-inner .item {
	-webkit-transition-property: opacity;
	transition-property: opacity;
  }
  .carousel-fade .carousel-inner .item,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
	opacity: 0;
  }
  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
  }
  .carousel-fade .carousel-inner .next,
  .carousel-fade .carousel-inner .prev,
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-control {
	z-index: 2;
	display: none;
  }
}

//header

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1920px;
  background-color: transparent;
  z-index: 100;

  .navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	margin-right: 7%;
	margin-left: 7%;
  }
  .navbar-default {
	background-color: transparent;
	border-color: transparent;
	border-bottom: 1px solid white;
	height: 78px;
	position: relative;
  }
  .navbar-brand {
	float: left;
	height: auto;
	padding: 26px 15px;
	color: transparent;
	margin-right: 60px;
  }
  .navbar-nav {
	padding-top: 0;
  }
  .navbar-right {
	float: right !important;
	margin-right: 0;
  }

  .navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
	font-family: $ANR;
	line-height: 28px;

  }
  .nav {
	li {
	  a {
		padding: 23px 0 0;
		margin: 0 20px 0;
		border-bottom: 2px solid transparent;
		@include transition(all .6s);

		&:hover{
		  border-bottom: 2px solid white;
		}
	  }
	}
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
	color: white;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background-color: transparent;
  }

  .container-fluid > .navbar-header{
	margin-right: 0;
	margin-left: -15px;
  }

  .navbar-default .navbar-form {
	border-color: transparent;
	padding: 0;
  }
  .navbar-default .navbar-form.navbar-right {
	position: absolute;
	top: 12px;
	right: 0;


	.registr{
	  color: #6e6e6e;
	  font-family: $ANR;
	  font-size: 17px;
	  line-height: 26px;
	  font-weight: 400;
	  text-decoration: none;
	  width: 150px;
	  height: 32px;
	  border-radius: 10px;
	  background-color: #fff;
	  text-align: center;
	  display: inline-block;
	  border: 2px solid transparent;
	  @include transition(all 0.5s);

	  &:hover{
		color: #fff;
		border: 2px solid white;
		background-color: transparent;
	  }
	}

	.login{
	  color: #fff;
	  font-family: $ANR;
	  font-size: 17px;
	  line-height: 26px;
	  font-weight: 400;
	  text-decoration: none;
	  width: 80px;
	  height: 32px;
	  border-radius: 10px;
	  border: 2px solid #fff;
	  display: inline-block;
	  text-align: center;
	  @include transition(all 0.5s);

	  &:hover{
		color: #6e6e6e;
		border: 2px solid transparent;
		background-color: #fff;
	  }
	}
  }
}