//Color

//Font-size


//Font-Family

$ANR: "AlergiaNormal-Regular", sans-serif;
$ANB: "AlergiaNormal-Bold", sans-serif;
$ANI: "AlergiaNormal-Italic", sans-serif;
$ANBI: "AlergiaNormal-Bolditalic", sans-serif;
