//Color

//Font-size


//Font-Family

$ANR: "AlergiaNormalRegular", sans-serif;
$ANB: "AlergiaNormalBold", sans-serif;
$ANI: "AlergiaNormalItalic", sans-serif;
$ANBI: "AlergiaNormalBoldItalic", sans-serif;
