//Color

//Font-size


//Font-Family

$ANR: "alergia_normalregular", sans-serif;
$ANB: "alergia_normalbold", sans-serif;
$ANI: "alergia_normalitalic", sans-serif;
$ANBI: "alergia_normalbold_italic", sans-serif;
