<header class="header">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="../img/logo.png" alt="logo"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="index.html">Главная</a></li>
					<li><a href="marketing.html">Маркетинг</a></li>
					<li><a href="news.html">Новости</a></li>
					<li><a href="webinar.html">Вебинары</a></li>
					<li><a href="#">Соглашение</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
			<form class="navbar-form navbar-right">
				<a href="#" class="registr">Регистрация</a>
				<a href="#" class="login">Вход</a>
			</form>
		</div><!-- /.container-fluid -->
	</nav>
</header>